[2015-07-03 22:08] joshuap opened #1 "Phoenix session error in Honeybadger.Plug"
I'm probably missing something obvious (first time using Phoenix), but I am getting the error "key :session not found in: %Plug.Conn{adapter: {Plug.Adapters.Cowboy.Conn, :...}" when I try to add the plug to a vanilla controller:

https://github.com/honeybadger-io/crywolf-elixir/blob/master/web/controllers/page_controller.ex#L12

Is the issue that I need to manually configure the session in Phoenix

[2015-07-06 19:38] rbishop commented on #1
Phoenix has some manual setup you need to do to use sessions with regard to choosing the session store. I think right now it can use either `ets` tables or cookies as the session store. Here is a link to a page with more info:

http://www.phoenixframework.org/v0.6.2/docs/sessions

One other little oddity with sessions is that Plug first requires you to call `fetch_session` on the connection before

[2015-07-06 20:21] joshuap commented on #1
@rbishop sure, here's the stacktrace:

[code]

[2015-07-06 20:23] joshuap commented on #1
You should be able to reproduce this by pulling down that app and running the server and then navigate to "http://localhost:4000/runtime_error". I added the session config in 341b64977aebaf46befd03c8c5ef75dccba03088 but still get that error, so I'm thinking maybe it's not an issue that the session wasn't configured.

[2015-07-06 22:30] rbishop commented on #1
This should be wokring now. Just make sure to grab the latest push:

`mix deps.update honeybadger`

I also cleaned up some things around how the "application" gets started and fixed a bug with some of the configuration defaults getting computed at compile-time. This caused functions like `System.cwd/0` and `System.get_env/1` to be the values of when the Honeybadger "application" was compiled rathe

[2015-07-06 22:33] rbishop commented on #1
Also make sure to add `:honeybadger` to the `applications` list in `mix.exs` so that the Honeybadger library is started automatically. I'll document all of this in a README later :)

[2015-07-06 23:27] joshuap commented on #1
Sweet, that did it. Thanks!

[2015-07-06 23:27] #1 closed

[2015-07-22 17:07] rbishop opened #4 "Getting the controller name and action name"
Phoenix has `controller_module` and `action_name` functions for doing this. Unfortunately those attribtues are added later in the request after the `ErrorHandler` wrapper. I've [opened an issue](https://github.com/elixir-lang/plug/issues/277) on Plug to see if it would be possible to get the later `conn` in the `ErrorHandler`. If we can't do that, we'll have to find another way to extract that inf

[2015-07-22 17:09] rbishop opened #5 "Config option for excluding Honeybadger logger/plug in certain environments"
Add an `exclude_envs` option so end users can disable certain environments from enabling the Logger/Plug or having `Honeybadger.notify` send the HTTP request.

[2015-07-24 20:38] rbishop opened #6 "Use Mix.Project.config/0 to get otp_app name"
[`Mix.Project.config/0`](http://elixir-lang.org/docs/stable/mix/Mix.Project.html#config/0) brings back all sorts of good data about the app. Here's what it looks like for crywolf:

[code]

We can derive the `otp_app` name from there instead of making users pass it in at configuration time. Maybe we can keep the `app` configuration in case they want to override it with something else, though I don'

[2015-07-30 20:55] #5 closed, assigned to nobody

[2015-07-30 20:56] #4 closed, assigned to nobody

[2015-08-06 04:56] rbishop opened #7 "Remove meck in favor of an API stub"
Using `meck` for mocking is kind of weird and unnatural. It's easier and cleaner to just stand up a simple Plug app with a `notify` route and change the `origin` config for the test environment. We will probably also need to add Cowboy as a test dependency.

[2015-09-17 14:37] smeevil opened #8 "Don't rely on Mix"
When running in production i see you are relying on Mix.env but it's ill advised to include Mix as a dependency in production (according to Jose Valim and Chris McCord.

Also when using Exrm to deploy, Mix is not included in the build (unless explicitly added, which you should not:D ). Even if you do include it, Mix.env will return :dev in production.

It would be nice if you could update the depe

[2015-09-17 14:53] rbishop commented on #8
To the best of my knowledge, we only make use of `Mix.env` at compile time so Mix should be available at that point. `notify` is a macro: https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L105-L128

Has this caused an issue in production or during the release process for you?

[2015-09-17 14:54] smeevil commented on #8
In production deploying with Exrm :

Request: GET /error
** (exit) an exception was raised:
    ** (UndefinedFunctionError) undefined function: Mix.env/0 (module Mix is not available)
        Mix.env()
        (honeybadger) lib/honeybadger/notice.ex:37: Honeybadger.Notice.server/0
        (honeybadger) lib/honeybadger/notice.ex:24: Honeybadger.Notice.new/3
        (honeybadger) lib/honeybadger.ex:

[2015-09-17 15:06] rbishop commented on #8
Thanks for the stacktrace! I'll dig into this tonight.

[2015-09-17 15:12] smeevil commented on #8
I did make a change to the source where I resolve the Mix.env at compile time. If i now remove Mix from the application dependency it works in production. But the error report still has dev as environment.

I'll add a pull request so you can see the changes

[2015-10-08 17:26] joshuap opened #10 "Errors during test run w/ use_logger"
I'm getting these errors when running tests with the (extremely awesome!) `use_logger` option enabled:

[code]

[2015-10-08 17:26] joshuap commented on #7
:+1:

[2015-10-08 17:27] joshuap opened #11 "Enable `user_logger` by default."
This option is so cool/useful that I feel we should prefer it by default. Any reason not to?

[2015-10-08 22:54] joshuap opened #12 "Send notices async."
Maybe just spawn a `Task` for each of them?

[2015-10-08 23:58] rbishop commented on #12
I kept going back and forth on this. All IO is non-blocking already and in the case of Plug/Phoenix it's happening in its own process. It might make sense to spawn a `Task` in the Logger though.

[2015-10-09 00:00] rbishop commented on #10
Interesting. It looks like the message for a Supervisor is a tuple instead of a Dict? That's about all I can gather from that exception. I'll play around with this tonight.

[2015-10-13 01:03] joshuap opened #13 "UndefinedFunctionError: undefined function: :badarg.__struct__/0 (module :badarg is not available)"
We're having an error when parsing logs using the logfmt library:

https://github.com/jclem/logfmt-elixir/issues/6

When those errors happen, we also see the following in our logs, and the error is not reported (using the `use_logger` option):

[code]

[2015-10-13 02:43] rbishop commented on #13
I think I know the reason this is happening. `:badarg` is an Erlang exception rather than an Elixir exception so it does not have a `__struct__` where as all Elixir exceptions are `struct`s. On line 7 of `notice.ex` we try and get the struct of the exception and since `:badarg` doesn't have a struct it blows up.

One possible solution is to add some handling to Notice that checks if the module is

[2015-10-13 02:54] rbishop commented on #13
There's something very meta about looking at code for turning exceptions back into exceptions in the exception handling code of an exception handling app.

[2015-10-13 03:38] joshuap commented on #13
Heh, :+1:.

Thanks, that makes sense. I'll work up a PR for this (unless you're dying to take it). :)

[2015-10-13 03:41] joshuap commented on #12
In the case of Plug/Phoenix it seems to add some latency to response times (if I was reading things correctly). Would it currently block the response until the exception was reported? I can do some extra testing on that if it would help.

[2015-10-13 03:42] rbishop commented on #12
Ah, you're right. Yes let's just fire off a Task then :+1:

[2015-10-13 04:01] rbishop commented on #13
Have at it! If it is helpful:

Another observation I made is that Erlang exceptions are just atoms and not modules. So maybe an easy fix is to use try/catch on calling atom.module_info. If that blows up then you know it's an Erlang error atom and can handle it accordingly.

[2015-10-14 22:33] #13 closed

[2015-10-14 23:12] rbishop commented on #8
This was resolved in e8da6f77

[2015-10-14 23:13] rbishop commented on #6
Looks like we can't rely on anything from Mix at runtime because Mix gets removed by the release.

[2015-10-14 23:13] #6 closed

[2015-10-16 17:45] #11 closed

[2015-10-16 17:46] #12 closed

[2015-10-16 18:31] joshuap opened #17 "Weak backtrace when reporting crashed processes via Logger."
Here's an example of a backtrace for an error in a process which was reported from the logger:

https://www.dropbox.com/s/0crkp64gonzd1sm/Screenshot%202015-10-16%2011.29.27.png?dl=0

Any ideas how we can report the full backtrace? Also, we have the ability to show nested exceptions (i.e., exceptions which originated from other exceptions -- in Ruby these are causes). Not sure if that would be usef

[2015-10-20 19:49] joshuap commented on #17
So far I've only been able to reproduce this with `Task.start/1`:

[code]

The tests use `:proc_lib.spawn/1`, which produces a better backtrace:

[code]

[2015-10-20 19:59] joshuap commented on #17
Actually, I just made this discovery. Errors in a process spawned by `Task` seem to match [this pattern](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/logger.ex#L25), and while the `stacktrace` variable contains a limited stack, the (currently discarded) `_stack` variable contains what looks like a full stacktrace:

[code]

@rbishop do you think I could just chan

[2015-10-20 20:01] #10 closed

[2015-10-21 02:47] joshuap commented on #8
I (or actually, @knewter) found another Mix dependency: https://github.com/honeybadger-io/honeybadger-elixir/blob/09e0829e3b1aed16d900734076648d5f0d90f640/lib/honeybadger/notice.ex#L37

This is causing his app to report as "prod" even though he's really compiling with `MIX_ENV=dev`. I wonder if it would make a difference if we set the default environment_name as a config option in [our mix.exs](ht

[2015-10-23 18:03] #17 closed

[2015-10-23 18:04] joshuap opened #19 "Honeybadger.notify/2 doesn't report context."
@knewter noticed this while working on his ElixirSips screencast: `Honeybadger.notify(exception, context)` didn't report the local context with the error.

[2015-10-26 12:52] muhmi commented on #8
Please do make `environment_name ` a config option.

First of all after building a release `poison` application is not started with the rest of applications. Missing from mix.exs application list?

Second issue now is that I am still not getting any error messages to honeybadger but also do not see any issue in logs related to this lib :D Need to investigate that :D

[2015-10-26 14:20] rbishop commented on #8
As far as I know, `Poison` does not have an Application to start. It is just a library.

[2015-10-26 14:22] knewter commented on #8
Confirmed re poison: https://github.com/devinus/poison/blob/master/mix.exs#L19

[2015-10-26 14:51] muhmi commented on #8
Hi!

Yes you are correct - should have given more thought before posting :) The issue seems to be that exrm does not bundle it along unless I specifically add it to my applications list. Sorry for being a n00b :)

[2015-10-26 15:07] muhmi commented on #8
Hmm, I wonder if you still should put poison to your applications list even it is not something that needs to be started. https://hexdocs.pm/exrm/extra-common-issues.html

[2015-10-26 16:18] rbishop commented on #8
New or not, all feedback is welcome and appreciated so thank you!

Thank you for sharing that link. That's interesting. I'll have to do some testing with exrm to see if it compiles depedencies that aren't specified in `:applications`. I thought that setting only controlled OTP Applications that needed to be `start`ed.

[2015-10-26 17:00] muhmi commented on #8
Hi,

Yeah - that can get confusing. From the Erlang docs it seems that application can be something that either starts (has a process) or is just a library (application).

"The simplest applications do not have any processes, but consist of a collection of functional modules. Such an application is called a library application. An example of a library application is STDLIB."
http://www.erlang.org/

[2015-10-26 19:33] muhmi commented on #19
:+1:

[2015-10-26 19:39] muhmi opened #20 "Handle API responses and report if unable to post error"
Hi!

It would be nice if you would check API responses and report through Logger if you cannot post to honeybadger or retry a couple of times.

[2015-10-26 20:06] muhmi commented on #19
How is this supposed to work?

Is it so that here
https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L138
do_notify is supposed to get a map like `%{user_id: 12345, cookie: "monster"}`?

But does this https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/notice.ex#L17 mean that only things inside `:honeybadger_context`will be sent to the

[2015-10-26 20:26] joshuap commented on #19
This was discovered Friday evening; we'll be working on a fix this week. :) In the meantime, you can still feel free to use this library; this issue is not causing error reporting to break. The problem is that the context passed to `Honeybadger.notify/2` is not being sent to the api. What *should* happen is that the local context from `Honeybadger.notify/2` should be merged with any global context

[2015-10-26 21:17] joshuap commented on #8
@rbishop do we need to worry about the references to `Honeybadger.Mixfile` in [`Honeybadger.Notice`](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/notice.ex#L28)?

[2015-10-26 21:23] joshuap commented on #20
Agreed! Our API responds with a 201 when the notice was created. I would log an error message w/ the returned status code for any non-20x status.

[2015-10-26 21:57] knewter commented on #8
You shouldn't, as that's compile-time

On Mon, Oct 26, 2015 at 4:17 PM, joshuap <notifications@github.com> wrote:

--
*Josh Adams*
CTO | isotope|eleven <http://www.isotope11.com>
[cell] (205) 215-3957
[work] (877) 476-8671 x201

[mail]
3800 Colonnade Pkwy
Suite 140
Birmingham, AL 35242

[2015-10-26 22:32] joshuap commented on #8
Makes sense. Thanks!

[2015-10-26 22:33] #8 closed

[2015-10-27 01:58] rbishop commented on #8
That makes me wonder if instead of

[code]

we did:

[code]

Would we have had those wrong environment compile issues?

[2015-10-27 02:16] rbishop commented on #19
I think the issue is that Notice expects a Map with a `honeybadger_context` key. In the logger, you receive the crashed processeses (wut) entire process dictionary. I'm currentily grabbing the `honeybadger_context` key out of the process dictionary. This means later on Notice finds nothing at that key. Working on a fix now.

[2015-10-27 08:07] muhmi opened #24 "GenServer error reporting fails in weird way"
Hi I got this error in my logs:
[code]

Not sure whats the root cause it appeared after I had restarted my application server and received an error like this:
[code]

Any idea what this could be?

Cheers,

Roope

[2015-10-27 16:51] joshuap commented on #24
It looks like whatever is being passed in as `stacktrace` [here](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L133) does not define Enumerable, which makes sense since it looks like the stacktrace is a tuple. Do you happen to have any example code which can reproduce this?

[2015-10-27 17:11] rbishop commented on #24
Yeah the `stacktrace` is a tuple of `{module, function, args}` which seems unusual for an error report. I'd also like to know how to reproduce this because that looks like a tuple you would pass to `apply/3`.

[2015-10-27 17:31] muhmi commented on #24
Hi!

Sorry guys I got this while rebooting our game server. I can try to isolate
that somehow if I can.

Have you tested the lib with GenServers? Or should one use this lib for
other than phoenix web stuff.

--
Roope

On Tuesday, 27 October 2015, Richard B <notifications@github.com> wrote:

[2015-10-27 18:19] muhmi commented on #24
Hmm,

There seems to be two kind of `error_report` events http://www.erlang.org/doc/man/error_logger.html#events.

And also the Report can be a few things http://www.erlang.org/doc/man/error_logger.html#type-report

Maybe you should just narrow down the handle_event to match exactly the kinds of cases that handler can format?

Just a side note, would it make any sense add support for using a Logge

[2015-10-27 18:34] rbishop commented on #24
We should be handling all of the `:error_report` matches with this: https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/logger.ex#L19-L20

With regard to not using `Logger`: I originally tried to but Elixir's Logger uses a Translator that turns everything (exception, message, stacktrace) into a String and doesn't give you access to other things like the process diction

[2015-10-27 18:35] rbishop commented on #24
I've been meaning to write up a proposal to the Logger project about making Translators be Backend specific but haven't had the time.

[2015-10-27 19:17] muhmi commented on #24
Still at least for a game developer like me being able to track errors with strings like "oh my, this should never happen" and just grab the logger metadata.Would be really helpful, I still do that my self too - not a problem.   (Could have things like user_id etc that are useful)

But yeah, loosing the stacktrace is bad. But in this case its more maybe about knowing that "oh my" happens to player

[2015-10-27 19:20] rbishop commented on #24
You can still use `Logger.error/warn/info/debug` but those won't go to Honeybadger. You can call `Honeybadger.notify` to manually report to Honeybadger, however. Here is some documentation on how to do that: https://github.com/honeybadger-io/honeybadger-elixir#honeybadgernotify-send-an-exception-to-honeybadger

[2015-10-27 19:23] muhmi commented on #24
Yeah,

Thanks. I am now using Honeybadger.notify manually in one case to report exceptions when handing messages from websocket.

The thing I was after was to actually push those Logger.error lines to honeybadger too but, yeah maybe that is not the correct place for those since they are not exceptions.

[2015-10-27 19:25] rbishop commented on #24
Adding this guard should handle these stray messages: https://github.com/honeybadger-io/honeybadger-elixir/pull/25

Though it still does not address the greater issue of why is something non-exception like a GenServer.call getting sent  as an error_report to the error_logger :/ I'll have to dig into error_logger to try and figure that out.

[2015-10-27 21:22] joshuap commented on #24
@muhmi in the cases where you would log an error message, would it be possible to just raise an exception instead? Just wondering about the use case. We do support logging more arbitrary error messages in our Ruby and most other libraries. In Ruby, at least you have access to `caller` which we use to construct a backtrace and basically coerce the error message into an exception-like object for rep

[2015-10-28 06:24] muhmi commented on #24
@joshuap Granted - the case where I would log things like "oh my something went wrong but continuing anyway" is uncommon.  I will think about this and make a separate issue for the feature request if I truly have a use case for it.

One example is a GenServer calling some external API, I dont want to take it down because one call explodes and loose the inbox. There I could be using the GenServer t

[2015-10-28 21:44] joshuap commented on #24
Anytime, thanks for the debugging! :)

[2015-10-29 06:21] muhmi opened #26 "Correctly mark poison as dependency"
To correctly expose that this lib requires `:poison` library please add it to your `:applications` list.

Even when the application you depend on does not start a process (is a library application) it should be listed in the :applications, so that exrm release tool can find it.

Currently users must add `:poison` to their own mix.exs to get the release working.

Why not add it to `:included_applic

[2015-10-29 08:30] muhmi commented on #24
Another example:
[code]

[2015-10-29 14:53] muhmi opened #27 "Do not add report handler when in excluded env"
Hi!

It seems you are adding the report handler always, even when running in a environment where I do not want to use the library.

In situations like running load tests I would appreciate that I could totally disable integrations like honeybadger. Just to avoid sending 10k reports. I can do that by making sure the library is not in my `:applications` list but its more convenient if the `:exclude_

[2015-10-29 14:55] rbishop commented on #27
As long as your env is in `excluded_envs` Honeybadger.notify gets turned into a no-op which means the reports don't actually get sent. It is an interesting thought to just not add the error handler at all if current env is in excluded_env. I'm sure there isn't any harm in doing that.

[2015-10-29 15:05] joshuap commented on #27
I prefer to no-op the connectivity part but leave the rest of the logic intact in tests; it causes more of our code to be covered in your test suite which exposes issues earlier (like the logger exploding :)).

[2015-10-29 15:30] muhmi commented on #27
@joshuap I see your point =) I will just change the behaviour in my fork until issue #24 is fixed =)

[2015-11-01 01:42] #26 closed

[2015-11-03 21:46] #24 closed

[2015-11-03 21:47] #27 closed

[2015-11-03 21:59] joshuap commented on #19
@rbishop I'm thinking we can cut a new release of the library after #23 is merged. Does that sound right?

[2015-11-03 22:06] rbishop commented on #19
Sounds good to me. I just realized I can simplify the testing and get rid of those `timer.sleep/1` calls. I'll try and set some time aside tonight to do that.

[2015-11-12 17:38] joshuap commented on #19
:trophy:

[2015-11-26 12:40] joakimk opened #30 "Why does the logger not report :error messages?"
Hello!

I've been trying to move over to this client from [my own honeybadger client](https://github.com/joakimk/honeybadger) that pre-dates this one.

It seems to work good except this client does not handle `:error`-level log messages. Is this by design somehow or does it make sense to add it?

<https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/logger.ex> seems to

[2015-11-26 13:53] rbishop commented on #30
Hey Joakim,

This logger is built on top of Erlang's [error_logger](http://www.erlang.org/doc/man/error_logger.html) rather than Elixir's Logger so it handles the Erlang error eventsinstead (see the list at the bottom of the page I linked to above). If you're explicitly calling `Logger.error` I would suggest calling `Honeybadger.notify` instead.

[code]

[2015-11-26 14:43] joakimk commented on #30
That might be fine for an application, but toniq is a general purpose background job library. Don't want that to know about any specific error handling service.

[2015-11-26 14:45] joakimk commented on #30
I'll try experimenting with using `:error_logger` in Toniq, but I suspect this problem will bite more people than just me in the future. It seems reasonable to expect that logging an error using the elixir logger would be reported to honeybadger by the elixir honeybadger client.

[2015-11-26 15:17] rbishop commented on #30
Background processing is actually the very reason I chose to use Erlang's error_logger rather than Elixir's Logger. The problem with Elixir's Logger is its default translator turns everything into a String. This causes you to lose all sorts of great information such as the process dictionary.

With `error_logger` any process that is [SASL compliant](http://www.erlang.org/doc/apps/sasl/error_loggin

[2015-11-30 09:59] joakimk commented on #30
I'll look into using another way to report errors in toniq.

In general I think I'd like the honeybadger client to err on the side of caution and report all error types possible, even if that means missing out of some contextual information. If my app is not working as expected, I want to know about it! :)

[2015-11-30 14:12] rbishop commented on #30
The way you know about your app failing is by letting processes crash and letting the BEAM do what it does best.

[2015-11-30 14:40] joakimk commented on #30
I agree with you, I should let it crash. I'm just afraid not every piece of code ever written in Elixir will follow that pattern, and just ignoring other errors on principle seems like it could cause problems.

Thanks for a great library and good feedback btw!

[2015-11-30 14:40] #30 closed

[2015-11-30 15:30] rbishop commented on #30
Thank you for the discussion! I'll think about this but I think the Elixir Logger will have to change before we can accommodate it. If it were easy to have both error_logger and Logger and not duplicate messages I would do that but at this point error_logger is more robust.

[2015-12-01 21:36] jonatandahora opened #31 "HoneyBadger is always compiled with :prod environment"
Even if i set environment_name as :dev i get notified in compile-time exceptions as prod like @joshuap described in #8.
Once the app finishes compiling, it falls back to :dev.

[2015-12-03 00:30] joshuap commented on #31
Thanks for reporting. We'll take a look.

[2015-12-03 00:34] rbishop commented on #31
Does this happen when you use a tool like exrm or just using mix?

[2015-12-03 17:56] jonatandahora commented on #31
@rbishop just with mix.

[2015-12-16 23:34] joshuap opened #32 "Do we need a top-level supervisor?"
I tried updating honeybadger in a mix project and then releasing with exrm, and ran into an error similar to this: https://github.com/bitwalker/exrm/issues/183

Could it be that we have the same problem?

[2015-12-26 17:38] rbishop commented on #31
This line appears to be the issue: https://github.com/honeybadger-io/honeybadger-elixir/blob/master/mix.exs#L21

For some reason, during compile time `Mix.env/0` always evaluates to `prod` when called in the Mixfile but when called in the project it has the right value. I'll open up an issue in the Mix project. For now I think we can fix this by doing something like:

`env: [environment_name: Stri

[2015-12-26 17:39] rbishop commented on #31
It turns out we can't do that proposed fix because an environment like `test` is set at runtime and not via an environment variable. The next best idea I have is to compare Mix.env in our application settings (earlier in the compilation) versus what it is now. If they don't match, prefer the setting of Mix.env now.

[2015-12-26 19:36] rbishop commented on #31
Opened an issue here: https://github.com/elixir-lang/elixir/issues/4119

[2016-01-04 09:26] wojtekmach opened #34 "Consider failing fast when application is not started"
Hi, I ran into a strange issue where my errors weren't being reported because the default configuration wasn't used (e.g. `HONEYBADGER_API_KEY`). When I manually entered the configuration based on the defaults it was OK. Turns out that I somehow forgot to add `:honeybadger` to  `applications: [...]` in mix.exs. It would save me some time if `Honeybadger.notify` would have failed because of misconf

[2016-01-04 18:47] #19 closed

[2016-01-04 18:55] joshuap commented on #31
@rbishop looks like it's up to use to come up with a solution to this since they won't change the behavior in Elixir. It sounds like our options are pretty limited:

1. We could remove the default `environment_name` and require it to be set in the user's project, or:
2. Leave the default and update our documentation to mention the compile-time difference, or:
3. Get the value some other way, like

[2016-01-04 19:02] joshuap commented on #31
Somehow I overlooked #33 while writing that last reply. I'm OK with that fix, although I think it would still be better if we could get the environment name transparently in a majority of cases. Would it be possible to read the default from the `MIX_ENV` environment variable and then fall back to the behavior in #33? Would that introduce any other issues, like where the mix env is set programmatic

[2016-02-03 06:51] vysakh0 opened #35 "Enumerable not implemented error in do_notify method"
[code]

[2016-02-04 05:03] rbishop commented on #35
This should be fixed in version 0.3.1 that we just released. Please update and let us know. Thank you!

[2016-02-09 23:03] wojtekmach commented on #34
Probably doesn't make sense to keep this open, especially since this would have been avoided by more closely following README. Sorry for noise

[2016-02-09 23:03] #34 closed

[2016-02-11 22:01] joshuap opened #36 "Add a mix task to test reporting an exception from a phoenix controller"
Not sure if this is possible (or easy), but it would be cool to do this for Phoenix similar to how we do for Rails.

[2016-02-12 02:56] rbishop commented on #36
This should be possible! Would you want the mix task in this app or in a phoenix? I'll have to take a look at and seeing how you do it for Ruby/Rails.

[2016-02-12 02:56] rbishop commented on #35
Closing for. @vysakh0 let me know if you're on 0.3.1 and still encountering this issue.

[2016-02-12 02:56] #35 closed

[2016-02-23 02:12] #31 closed

[2016-04-06 19:32] parubets commented on #32
same problem for me...

[2016-04-06 21:01] joshuap commented on #32
@parubets thanks, we'll look into this. @rbishop didn't we fix the top-level supervisor issue? Any ideas what could be going on here?

[2016-04-26 15:41] joshuap commented on #32
#37 should fix this issue. @parubets let me know if you still have the issue after updating to 0.5.0.

[2016-04-26 15:41] #32 closed

[2016-04-27 00:05] joshuap opened #38 "Erlang v18 required"
I had [crywolf-elixir](https://github.com/honeybadger-io/crywolf-elixir) using Erlang 17 on Heroku and got [this error](https://app.honeybadger.io/fault/44062/f07f29ca1c483a8d2d27e3c220abfe8d) when I upgraded to 0.5.0. Are many people still using v17? I'd say we should either support 17 and 18 or mention in the README that v18 is required. What do you think, @rbishop?

[2016-04-27 01:08] rbishop commented on #38
Yes I think we should only support Erlang 18 at this point. I commented on the PR about this. Elixir 1.2 and newer all require Erlang 18 anyway. I'll add something to the README.

[2016-04-27 04:39] somlor opened #39 "logger.ex:24: warning: variable context is unused"
Saw these warnings when compiling:
[code]

Forked repo and intended to submit a pull but now I'm scratching my head. Why does Elixir think that these variables are unused? 👀
[code]
https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/logger.ex#L24

[2016-04-27 13:47] rbishop commented on #39
This seems odd to me. Do you get this when compiling in an environment that is not in your `exclude_envs` setting for Honeybadger? We use a macro to disable reporting in excluded environments like `test` and `dev`. I wonder if that could be the cause?

[2016-04-27 14:06] joshuap commented on #38
Heh, obviously I don't read PR comments >.> Thanks :)

[2016-04-27 15:02] somlor commented on #39
Interesting. I don't think so. I get it even when I clone this repo and run `mix test`. Is this just on my end? Let me know if I can provide anymore info. I was running Erlang 18.2.1 with Elixir 1.2.3 but I've just upgraded to 18.3 + 1.2.4 and still seeing warnings.

[2016-04-27 19:31] rbishop commented on #39
I can replicate this, too. :+1: I'll look into it.

[2016-05-01 21:14] joshuap commented on #39
@rbishop thanks!

[2016-05-05 20:05] KronicDeth opened #40 "Multiple Honeybadger.Metrics.Servers"
Joshua asked me to open this issue based on a support ticket for Honeybadger.io.

Our application has an API, that is monitored for response time just fine by the `Honeybadger.Plug`, but the app also gets RPC requests over RabbitMQ.  I'd like to add performance metric for the RPC calls to the servers in the app too, but I want to be able to separate the metrics for the API controllers from the RPC

[2016-05-20 17:58] joshuap opened #41 "Argument error in Honeybadger.Metrics.Server"
[code]

@rbishop any ideas?

[2016-05-20 18:02] joshuap commented on #40
@KronicDeth thanks again for the suggestion. Adding the "enhancement" label and will look into this in the future.

[2016-05-21 16:26] willrax commented on #41
If there are any other details I can provide, let me know.

[2016-05-22 18:15] rbishop commented on #41
This is an interesting one. Metrics.Server definitely handles that kind of message. Any other info would really help @willrax

[2016-05-23 12:52] willrax commented on #41
the weird thing was that the request seemed to be going through ok. I'll add the line back in and see what other details I can collect locally.

[2016-05-27 20:44] saaji commented on #41
Not sure if it is completely related, but on my phoenix app, after live release upgrade through OTP releases `Honeybadger.Metrics.Server` often starts to fail with

[code]

This makes the project's Metrics tab on app.honeybadger.io pretty much dead. Doing start/stop sequence on the deployed app puts things back to normal... till next upgrade.

[2016-06-14 14:32] KronicDeth opened #42 "convert_time_unit maybe should use :native for FromUnits"
There is an inconsistency with [`Plug.Logger`](https://github.com/elixir-lang/plug/blob/22227a5f1627b2bb0410eb4a0cfdc40f1b037c18/lib/plug/logger.ex#L47-L48):   It uses `:erlang.monotonic_time` to get the start and end times and when converting from the `:erlang.monotonic_time` default units to microseconds it does:

[code]

[`HoneyBadger.Plug`](https://github.com/honeybadger-io/honeybadger-elixir/

[2016-06-15 13:02] dpehrson commented on #7
@rbishop It may be worth looking into [Bypass](https://github.com/PSPDFKit-labs/bypass)

I've used it a bit and while there is room for improvement, if you're not doing anything that requires coordinating lots of outgoing requests, it's probably a lighter weight solution.

[2016-06-18 22:01] nurugger07 commented on #41
@willrax can you provide some more detail around the issue you are having? As @rbishop the Metrics server is handling this message and shouldn't be causing an issue. I haven't been able to reproduce this locally.

[2016-06-18 22:05] nurugger07 commented on #41
@saaji I don't believe that is the same issue or related to this. If you are still having the issue, can you open a separate issue and provide as much detail as you can?

Also, for both @saaji & @willrax can you provide version #'s?

[2016-06-19 00:58] jaimeiniesta opened #43 "Does honeybadger-elixir catch errors on processes launched with spawn?"
If a process launched via `spawn` crashes, will the error be reported? I mean, not using `Task.async`, just `spawn`.

[2016-06-19 01:15] rbishop commented on #43
Nope. The process needs to be a Special Process in order for the error logger to pick it up. Here's some more info on that http://erlang.org/documentation/doc-4.9.1/doc/design_principles/spec_proc.html

[2016-06-19 02:05] #43 closed

[2016-06-19 08:38] willrax commented on #41
Hey @nurugger07. When I add the line

[code]

To my router i get the error mentioned in the first post. I thought it might be the version number so I upgraded to 0.5.0 but the issues still persists.

[2016-06-19 09:06] willrax commented on #41
I don't think I'm doing anything special in my setup. If it helps, it's deployed to heroku.

[2016-06-21 03:45] nurugger07 commented on #41
@willrax did you add honeybadger to your applications list in your mix file?

[2016-06-21 08:03] willrax commented on #41
doh. It was missing from the applications list in m mix file. Such a silly error. Sorry to waste time.

[2016-06-21 14:31] nurugger07 commented on #41
@willrax no worries :) Happy to help!

@saaji can you create a new issue and provide detailed information on the steps to reproduce?

[2016-06-21 14:41] saaji commented on #41
will double-check and get back with a new issue if problem persists

[2016-06-21 15:20] nurugger07 commented on #41
@saaji sound good. thanks!

[2016-06-24 13:39] saaji opened #44 "Honeybadger.Metrics.Server crashes after upgrade deploy via Edeliver."
My Phoenix application uses Honeybadger 0.5.0 from Hex.

Application `honeybadger` is present in the list of applications.

[code]

The dependency list is

[code]

[eDeliver](https://github.com/boldpoker/edeliver) is being used to deploy and live-upgrade production environment via OTP releases. It uses exrm under the hood to do its job.

Honeybadger works well in case of 'cold' deploy and/or resta

[2016-06-24 20:36] derekprior opened #45 "Warnings when compiling under Elixir 1.3"
[code]

[2016-06-24 20:40] nurugger07 commented on #45
@derekprior thanks! I'm going to look at the upgrade to Elixir v1.3 this weekend. Is everything else working well then?

[2016-06-24 20:42] nurugger07 commented on #44
Thanks @saaji for submitting this detailed issue. I'm going to look at it this weekend and see it I can get it fixed.

[2016-06-24 20:42] derekprior commented on #45
I haven't deployed to production or staging yet, but locally it's checking out. I even have a branch where I started addressing those warnings, but the one for unused variable `context` is perplexing because it does look like it's used. Granted, I spent only 5 minutes looking at it so far.

[2016-06-24 20:46] nurugger07 commented on #42
This sounds reasonable @KronicDeth and thanks for reporting it. It would make sense to have the two conform to the same conversion type. I'll get with @joshuap and verify the case for the original implementation but we should be able to make the change

[2016-06-24 21:08] nurugger07 commented on #41
I'm closing this issue. Thanks to everyone for your patience :)

[2016-06-24 21:08] #41 closed

[2016-06-29 22:30] enilsen16 opened #47 "Making private functions (handle_errors/2 in this case) overridable is deprecated"
with Elixir: 1.4-dev and Phoenix 1.2 --
[code]

From this commit in Elixir -- https://github.com/elixir-lang/elixir/commit/3db142763438b5120ed48d1997b0264d72402df9

[2016-06-30 00:40] #39 closed

[2016-06-30 01:54] nurugger07 commented on #38
Added a Prerequisites note on the README for minimum requirements

[2016-06-30 01:54] #38 closed

[2016-06-30 01:56] nurugger07 commented on #45
This should be resolved after the merge. I'll get @joshuap to push up a hex update :) Thanks to @mitchellhenke for the PR!

[2016-06-30 02:22] nurugger07 commented on #42
Thanks for the heads up @KronicDeth! Branch is merged :)

[2016-06-30 02:22] #42 closed

[2016-06-30 02:53] nurugger07 commented on #47
Thanks for letting us know but unfortunately this isn't a honeybadger-elixir issue. The warning message is coming from the private overridable functions in the Plug dependency. However, I did submit a PR to Plug that will remove the warnings but I'm not sure if/when it will be accepted. That being said the Honeybadger client hasn't been test against the 1.4.0-dev release.

We will continue to prep

[2016-06-30 02:53] #47 closed

[2016-06-30 08:02] enilsen16 commented on #47
Thanks I didn't realize it was on Plug. 👍

[2016-07-11 15:00] mitchellhenke commented on #45
@nurugger07 do you think a new release will be made soon?

[2016-07-11 16:05] nurugger07 commented on #45
@mitchellhenke I'll be working on getting it out this week. I wanted to get a little more in :)

[2016-07-11 16:07] mitchellhenke commented on #45
@nurugger07 sounds perfect, thank you!

[2016-07-13 11:09] parubets commented on #44
same problem for me, not only for Phoenix, but for all elixir apps.

`10:58:32.117 [error] Task #PID<0.27544.5> started from RatesApp.Kraken.Fetcher terminating
** (ArgumentError) argument error
    (honeybadger) lib/honeybadger/client.ex:36: Honeybadger.Client.send_notice/3
    (elixir) lib/task/supervised.ex:89: Task.Supervised.do_apply/2
    (stdlib) proc_lib.erl:240: :proc_lib.init_p_do_apply/

[2016-07-22 14:01] nurugger07 commented on #45
v0.6 was released and the warnings have been cleaned up. Special thanks to @mitchellhenke :)

[2016-07-22 14:01] #45 closed

[2016-07-22 16:45] mitchellhenke commented on #45
@nurugger07 you bet!

[2016-08-09 00:18] cmwilhelm opened #52 "Honeybadger.Plug calls server multiple times when reporting an error"
RE: PR #51

Copied and pasted from the failing test case in the PR:

When using the Honeybadger plug, it seems that multiple attempts to call Honeybadger are being performed.

This PR serves to demonstrate the problem with a failing test case, by setting up a Bypass server standing in for Honeybadger API. This server appears to receive messages twice from the plug machinery.

(Most of the test cod

[2016-08-10 21:33] nurugger07 commented on #52
@cmwilhelm I've noticed this in testing too. I'm working on making some major changes to the test suite and it should remove the additional calls.

[2016-08-22 16:42] joshuap opened #54 "exq integration"
This integration would automatically report exceptions from failed exq jobs, similar to how we do for Ruby/Sidekiq. See https://github.com/akira/exq/issues/191 for a potential solution. We should also investigate if the current `use_logger` option already works for this case.

[2016-08-22 17:44] rbishop commented on #54
I've had this discussion pop up a few other times about other background job libraries in Elixir. In general the problem I've noticed is that most of them are designed like Ruby libraries and not like Erlang/Elixir libraries. What I mean is that when an exception occurs they rescue it and do their cleanup. If they were to re-raise after cleanup then the process will crash and the error logger will

[2016-08-24 04:08] schneidmaster commented on #54
I confirmed that `use_logger` does not work with exq. I wrote a very simple [middleware](https://gist.github.com/schneidmaster/9db15d6c897e46798e3645eeac2864ba) that ought to do the trick, but haven't tested it yet since the [change](https://github.com/akira/exq/pull/205) to make the exception struct available in exq middleware hasn't yet landed in a stable release.

[2016-08-24 04:16] schneidmaster commented on #54
Two other notes on exq middleware --

* It must be declared in `config.exs` in addition to the default exq middleware; i.e. you need `middleware: [Exq.Middleware.Stats, Exq.Middleware.Job, Exq.Middleware.Manager, Exq.Middleware.Logger, Exq.Middleware.Honeybadger]` or else the Stats, Job, etc. won't run. AFAIK there's no way to declare "extra" middleware without re-declaring the default list.

* Th

[2016-08-25 15:57] joshuap commented on #54
@schneidmaster thanks! We'll keep an eye on the exq release so that we can potentially package an error-handling middleware with honeybadger.

[2016-09-07 13:59] totallymike opened #55 "Filter out sensitive request parameters"
It doesn't appear that this library has the ability to filter sensitive request parameters. I'm seeing passwords in our HB error reports.

Is there something I'm missing, or an available workaround to filter out various headers and parameters from being logged to Honeybadger?

[2016-09-07 16:16] joshuap commented on #55
We don't have this feature yet for Elixir, but we can add it to the roadmap. PRs are also welcome (just let me know if anyone decides to take it on so that we don't duplicate effort).

[2016-09-12 16:53] joshuap opened #56 "Duplicate error reports"
It appears that errors are reported twice when using the plug router. I was able to reproduce this in [crywolf-elixir](https://github.com/honeybadger-io/crywolf-elixir) on Heroku.

[2016-09-13 17:38] zachdaniel opened #57 "Override Exception Name"
When we do `Honeybadger.notify("Something went wrong")` how could we dynamically set the name of the exception that it reports to honey badger?

[2016-09-22 00:10] nauger opened #59 "Honeybadger for use in umbrella project"
We've been using HB in our project for a few months with good success.  Our project has expanded  into an elixir umbrella, that basically has two Phoenix Endpoints running under the same beam/erlang process.

Is it possible to configure honeybadger to work with both apps at the same time?

Thoughts?

Thanks!

[2016-09-26 22:14] joshuap commented on #59
Hi Nick, great to hear that Honeybadger has been working well for you so far. :)

I don't have any experience in trying this, honestly, so take what I say with a grain of salt. I'm thinking that you should be able to configure both of your Phoenix endpoints to use Honeybadger, but they would both report to the same Honeybadger project. I'm not sure if that would be a problem or not depending on ho

[2016-09-27 19:01] joshuap commented on #56
Is this related to #52?

[2016-09-27 19:02] joshuap commented on #44
This should be fixed once we remove the metrics server (see http://blog.honeybadger.io/sunsetting-performance-metrics/)

[2016-09-27 19:03] joshuap commented on #40
Closing this for now. See http://blog.honeybadger.io/sunsetting-performance-metrics/

[2016-09-27 19:03] #40 closed

[2016-09-30 17:37] rranelli commented on #55
We would like to filter out the cookie header when reporting errors. Still no way to do that?

[2016-10-03 08:47] nurugger07 commented on #57
@zachdaniel that PR was merged and will be available in the next release coming this week

[2016-10-03 08:47] #57 closed

[2016-10-04 17:36] parubets commented on #44
have you removed already in 0.6.1?

[2016-10-04 17:38] joshuap commented on #44
Not yet. We'll update this issue when this fix has been released.

[2016-10-06 03:58] mmmries opened #60 "masking sensitive values in reports"
Is there any support or planned support for being able to mask sensitive values in honeybadger reports? Or is there another way to pay into sasl reports so I can mask values there before they get sent to honeybadger?

In my use case there are `GenServer`s that hold sensitive credentials in-memory to keep them hidden from the rest of the application, but if they fail the default error reports will

[2016-10-06 19:39] mmmries commented on #59
I think it would work to configure your honeybadger key in the top-level `config/config.exs` and then have both phoenix apps depend on `honeybadger` and add it to their routers.

I have one phoenix app in my umbrella project and the reporting is working fine for me.

[2016-10-21 20:52] joshuap opened #63 "Remove metrics reporting"
See http://blog.honeybadger.io/sunsetting-performance-metrics/

This should remove the code that was added in #25 (and anything related that was added since then). This should also fix #44, since there will no longer be a `Metrics.Server` to crash.

[2016-10-21 21:03] joshuap commented on #55
@rranelli not yet, but we might be able to add that to #62. I'll mention it over there.

[2016-10-21 21:10] joshuap commented on #60
@mmmries this is in the works; see #55 and #62. Are you talking about sensitive values appearing in the context? I didn't think we were sending state from a `GenServer` by default. Is that something you're adding manually?

[2016-10-21 21:11] #59 closed

[2016-10-21 21:40] mmmries commented on #60
@joshuap thanks for following up. The only sensitive data I've seen come through so far was phoenix params. I thought GenServer state might come through because SASL logs locally show that data, but I haven't actually seen those come through so far. If you are already skipping that data then it shouldn't be a problem.

Do you log the `last_message` that caused a GenServer to fail? That might conta

[2016-10-24 05:33] nurugger07 commented on #56
This is resolved in the v0.6.2 release

[2016-10-24 05:33] #56 closed

[2016-10-24 05:33] nurugger07 commented on #52
This is resolved in the v0.6.2 release

[2016-10-24 05:33] #52 closed

[2016-10-24 05:35] nurugger07 commented on #44
This isn't available in the 0.6.2 release but we'll be doing a major release later this week that will be removing metrics reporting. Since it is a major change, I wanted to do a minor release first

[2016-10-24 05:37] nurugger07 commented on #63
This will be coming on the v0.7 release later this week. I have a branch with the Metrics Server functionality removed but looking to implement the notifications as supervised gen_servers.

[2016-10-24 05:39] nurugger07 commented on #20
@muhmi this will be coming in the v0.7 release later this week

[2016-10-27 06:55] joshuap commented on #60
I don't believe we do; you should be good as long as params and context are filtered.

[2016-10-27 06:55] #60 closed

[2016-10-27 19:51] pdilyard opened #65 "Infinite errors logged"
After a period of time (days-weeks), we'll notice things stop working in our production application. There are 500s happening, but no errors are reported to Honeybadger. I attach to the running error logs, and all I see is constant scrolling of errors originating in the HB lib. Here's a sample:

[code]

I have no idea if this is actually caused by this library, or if it is caused by something else

[2016-10-28 06:31] nurugger07 commented on #65
@pdilyard Can you provide some more detail like is this a Phoenix, Plug, or other application and if so the version. Also, what version of the HB lib are you using? Are you doing any thing custom in the setup or is it just a default configuration. The more detail you can provide the easier it is to troubleshoot/replicate the issue.

[2016-10-28 13:57] pdilyard commented on #65
Elixir version: `1.3.2`
Honeybadger version: `0.6.1`
It is a Phoenix application, Phoenix version: `1.2.0`

This is my config:
[code]
(I know this config is correct because it would successfully post errors most of the time. Eventually it would get into the state described above and stop posting errors to HB)

The only other file that touches HB in my project is in my `web.ex` file:
[code]
(This i

[2016-11-01 15:50] codeithuman opened #66 "Relax Poison Version"
If honeybadger could run on versions 2 of poison, that'd be awesome. I'm using Phoenix 1.2.1 and it requires poison v2.

When running `mix deps.update --all`:

Failed to use "poison" (version 2.2.0) because
  ecto (version 2.1.0-rc.3) requires ~> 2.2 or ~> 3.0
  ex_aws (version 1.0.0-rc.4) requires ~> 1.2 or ~> 2.0
  honeybadger (version 0.6.2) requires ~> 3.0
  phoenix (versions 1.2.0 and 1.2.1)

[2016-11-08 03:18] axelson opened #67 "Not catching errors in channels"
Trying to set this up today and it is working fine in the PagesController but I am completely unable to get it working with Channels. Is there something additional I need to configure? Am I missing anything?

[2016-11-08 10:11] nurugger07 commented on #67
@axelson this should be working in channels. I'll take a look today in the test app we have. Can you provide the version #s for Elixir/Phoenix/Honeybadger-elixir that you are using?

[2016-11-08 19:27] axelson commented on #67
* Elixir 1.3.4 `Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]`
* Phoenix 1.2.1
* honeybadger 0.6.1

[2016-11-18 09:09] cbarratt opened #68 "Add the ability to pass in a proxy config for HTTPoison"
Currently this library isn't usable in a corporate / heavy firewall'd environments where you'd typically need a proxy to get outside of the network.

I'll take a look to see if I can butcher together a PR for this! But it's definitely a requirement at the company I work for :) Looking forward to using this library as Honeybadger is great!

[2017-01-03 02:05] joshuap commented on #68
Sorry for the delay! I would definitely accept a PR for this, or we can look into it at some point. We should be ramping up development on the Elixir client again soon.

[2017-01-03 09:23] cbarratt commented on #68
I did create a very quick PR on this - it does work functionally but I would appreciate feedback :)

https://github.com/honeybadger-io/honeybadger-elixir/pull/69

[2017-01-16 18:42] christiannelson opened #70 "Elixir 1.4 compilation warnings"
Looks like honeybadger is using a now deprecated module/api:

[code]

[2017-01-18 20:30] markquezada commented on #67
@nurugger07 Hey Johnny, did you happen to test this? (Hello again BTW!) Anything we can do to help?

[2017-01-19 18:28] joshuap commented on #70
@christiannelson thanks!

[2017-01-23 16:13] joshuap commented on #55
This is now possible using the new filter feature (see #62). I think adding "HTTP_COOKIE" to the default `filter_keys` config would work, or you can also create a custom notice filter with the `filter_cgi_data` callback.

[2017-01-23 16:13] #55 closed

[2017-01-24 02:00] joshuap opened #72 "Refine controller/action reporting in Plug/Phoenix"
In Honeybadger we use the controller in our grouping algorithm. Currently we're using `__MODULE__` to determine the current controller in our `Plug`:

https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/plug.ex#L61

This works if you use the Plug inside each Phoenix controller. If you use the Plug inside the router, however (as many do), the router is reported instead

[2017-01-25 18:25] mwoods79 commented on #70
https://github.com/honeybadger-io/honeybadger-elixir/pull/73 Removed deprecated `Dict` module and other 1.4 warnings.

[2017-01-25 18:27] mwoods79 opened #74 "Random test failure"
[code]

[2017-02-01 01:54] mwoods79 commented on #66
Sounds reasonable https://github.com/honeybadger-io/honeybadger-elixir/pull/75

[2017-02-01 02:01] mwoods79 opened #76 "Test fails randomly"
This test fails randomly.

[code]

It seems to fail locally and on CI with all supported versions of Elixir.

[2017-02-01 02:07] #70 closed

[2017-02-01 02:09] #66 closed

[2017-02-07 21:49] mbriggs commented on #65
same thing happening here, same setup.

[2017-02-07 22:03] mbriggs commented on #65
some more info: I seem to be triggering this on the first error after an upgrade release (distillery / gatling) on production. fills up 5 log files worth of what was previously reported. if i restart the app, it works as expected

[2017-02-08 04:28] jbhatab opened #77 "excluded envs not being excluded"
I'm required to put in config for honeybadger in config/config.exs and I use my staging api key and set the env to dev and include dev in excluded envs. I'm still getting dev errors on my staging honeybadger dashboard.

[code]

I'm on .6. You can see a screenshot of what I mean below. What I want is just no dev or staging bugs.

<img width="800" alt="screen shot 2017-02-07 at 8 23 32 pm" src="http

[2017-02-08 16:14] joshuap commented on #77
@jbhatab can you update to 0.6.2 just to make sure this isn't something that was fixed in a more recent version?

Also, do you know where this specific error is being reported from? The possible locations would be [manually](https://github.com/honeybadger-io/honeybadger-elixir#manual-reporting) (using `Honeybadger.notify`), [Plug](https://github.com/honeybadger-io/honeybadger-elixir#phoenix-and-pl

[2017-02-08 21:32] jbhatab commented on #77
I'll play with this later.

[2017-02-09 22:16] jbhatab commented on #77
@joshuap seems i cant upgrade to .62 since it requires poison 3.0 which requires me to upgrade phoenix which I don't want to do quite yet. :(

Think a fix was made for this in .61 or .62?

[2017-02-10 21:45] mwoods79 commented on #74
Closing: Duplicate https://github.com/honeybadger-io/honeybadger-elixir/issues/76

[2017-02-10 21:45] #74 closed

[2017-02-10 21:55] mwoods79 commented on #77
@jbhatab the poison requirement is currently relaxed in master. AFAIK it is scheduled to be released in 0.7.0

In the mean time can you point to master and see if this is still a problem?

[2017-03-01 17:14] joshuap opened #78 "Track parameters from function invocations"
In some cases it appears that a backtrace can include the parameters used to invoke a function that caused an error. Example:

[code]

It would be cool if we could capture these and display them in Honeybadger.

[2017-03-01 17:34] duff commented on #78
👍 Thanks Josh!

[2017-03-06 16:49] iconpin opened #79 "Honeybadger.notify differences between test and prod"
Hi there,

We've been using the module in one of our projects, and one thing that caught my attention is that `Honeybadger.notify` returns something different depending if it's an active environment or not.

This will match only when the environment is active (by default, `:prod`):

[code]

This will match only when the environment is inactive (`:dev` and `:test` by default):

[code]

I'm relative

[2017-03-09 17:05] mmmries opened #81 "0.6.3 release?"
Are there any plans to do a release before `0.7`? I would love to have a release that includes the new `filter_keys` feature. I'm willing to point to the master branch for now, but it would be really nice to use a hex version instead.

[2017-03-17 19:13] joshuap commented on #81
@mmmries I'll see what I can do; a 0.6.3 release might be doable.

[2017-03-20 11:23] mmmries commented on #81
My team has been pointed to the master branch now and we've really enjoyed the ability to filter some of the data before it gets reported to honeybadger. If there's any issues that you need to get resolved before a release feel free to mention them here and I'll try to help out as best I can.

Much ❤️ 💛 💙 💚 💜  for an awesome tool!

[2017-03-20 17:28] joshuap commented on #79
@iconpin I think it would make sense for the behavior to be the same between environments. Ideally I like to have as much functionality as possible in dev mode so that problems are surfaced earlier; the only thing that *shouldn't* happen in dev mode is for the notification to actually be sent. @mwoods79 thoughts?

I'd be happy to take a look at a PR, although note that we're currently making some

[2017-03-21 23:58] mwoods79 commented on #79
@joshuap That seems inconsistent. Currently we are running the `Honeybadger.notify/2` async (in a task) for production but synchronously for all other environments. We could wait for the `task` to finish in all non `:prod` environments. Then all environments run the exact same code (except waiting for the task to finish).

[2017-03-22 01:50] mwoods79 commented on #63
PR here https://github.com/honeybadger-io/honeybadger-elixir/pull/80

[2017-03-22 01:50] #63 closed

[2017-03-22 01:57] mwoods79 commented on #44
Metrics are removed in https://github.com/honeybadger-io/honeybadger-elixir/pull/80. @saaji will you install from github and verify the problem is fixed?

[2017-03-22 17:00] joshuap commented on #79
Is there a reason we need to wait for the task to finish in development? What if we just always spawn the task, but skip the POST call in `Client` (or wherever makes sense) when not in an active environment?

[2017-03-24 10:30] iconpin commented on #79
Since there seems to be agreement, I've played a bit with the code :). If someone can have a look at #83, that would be great!

[2017-03-29 00:37] mwoods79 commented on #79
Thanks @iconpin

[2017-03-29 00:37] #79 closed

[2017-03-29 02:29] mwoods79 commented on #68
https://github.com/honeybadger-io/honeybadger-elixir/pull/69 was merged.

[2017-03-29 02:29] #68 closed

[2017-04-21 17:05] drewblas opened #85 "httpoison dependency out of date"
The current release is tied to httpoison `~> 0.9`.  However, that release is old, and it is pinned to hackney `~> 1.6.6`.  That release of hackney had a severe bug and was revoked. The bug is fixed in `1.7.0` and up, but there's no way to get hackney 1.7.0 (without an override) because of this dependency chain.

[2017-04-30 18:01] asummers commented on #81
Curious if there's been any movement on getting this up on Hex.

[2017-05-03 00:04] mwoods79 commented on #85
This should fix: https://github.com/honeybadger-io/honeybadger-elixir/pull/86

[2017-05-03 14:03] #85 closed

[2017-05-04 22:46] joshuap commented on #81
0.6.3 has been released!

[2017-05-04 22:47] #81 closed

[2017-05-04 22:48] joshuap commented on #44
I'm going to close this now that we've released 0.6.3 (which removed metrics). Feel free to re-open/submit a new issue if you continue to have problems.

[2017-05-04 22:48] #44 closed

[2017-05-04 23:27] mmmries commented on #81
Woot! Thanks guys!

On May 4, 2017 4:47 PM, "Joshua Wood" <notifications@github.com> wrote:

[2017-05-04 23:41] mwoods79 commented on #65
@pdilyard @mbriggs We released 0.6.3 please let us know if this is still happening.

[2017-05-10 00:58] mwoods79 commented on #67
@axelson do you have an example of how you were calling `HoneyBadger.notify` in your channel(s)?

[2017-05-10 01:08] mwoods79 commented on #72
Phoenix has had `controller_module\1` since at least version 1.0.  Using this might break the current plug, we will either need to be clever or have a separate plug for Phoenix specifically. Also, I'm not sure how far back we want to support? Phoenix 1.0 was released 2 years ago, it seems fine to drop support for older to me.

https://github.com/phoenixframework/phoenix/blob/v1.0.0/lib/phoenix/con

[2017-05-10 01:11] mwoods79 commented on #76
I have not seen this test fail since the removal of metrics.

[2017-05-10 01:11] #76 closed

[2017-05-10 01:14] mwoods79 commented on #77
@jbhatab 0.6.3 was released last week. It has lessened the requirements for poison (0.7.0 is right around the corner). Please test and see if you are still getting this error.

[2017-05-10 02:33] axelson commented on #67
@mwoods79 I'm not manually calling `HoneyBadger.notify` in the channels, just hoping that uncaught exceptions are caught and sent to honeybadger.

[2017-06-30 09:13] belousovAV commented on #65
Still problem
`"honeybadger": {:hex, :honeybadger, "0.6.3"`

[code]

[2017-07-31 08:57] madshargreave commented on #67
Status one this?

[2017-07-31 13:59] mwoods79 commented on #67
@madshargreave exceptions are not automatically caught in channels. For logging you need to manually call `HoneyBadger.notify`.

[2017-07-31 13:59] #67 closed

[2017-08-02 17:54] silasjmatson opened #88 "Honeybadger.notify/2 grabs the stacktrace from inside the task process"
The [`Honeybadger.notify/2`](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L158-L160) macro calls [`macro_notify/3`](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L166-L172), which expects the 3rd argument to be a list containing the stacktrace.

However, the `notify/2` macro sends an empty List as the 3rd argument, which

[2017-08-02 18:13] silasjmatson commented on #88
After a bit more reading of the code, I think [`Honeybadger.notify/1`](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L154-L156) may also be affected by this issue, which means that the only way to get useful stacktraces in manually reported errors is to use `Honeybadger.notify/3` and pass in the stacktrace manually.

[2017-09-21 04:45] joshuap opened #92 "Support some extra `Honeybadger.notify` signatures"
It would be nice to do the following (which we also have in honeybadger-ruby):

[code]

This isn't an exhaustive list.

You can also currently do `Honeybadger.notify(%RuntimeError{message: "the message"})` (according to the module doc), but it isn't documented in the README.

[2017-10-03 00:37] joshuap commented on #77
To close this, I'd like to verify that the "ignoring an additional environment" scenario works on the latest package version.

[2017-10-03 01:10] joshuap commented on #88
@silasjmatson I'm sorry for dropping the ball on this; I'm now working on building a better maintenance plan for our Elixir client (and there's new stuff I'd like to add, too!).

Anyway, I'm looking into the potential fix in #93 (and getting those PRs reviewed/merged) later this week, and then I'll revisit this issue and see if there's anything left to address.

[2017-10-10 01:09] joshuap commented on #88
Quick update, since this is taking a bit longer than I hoped. I think we're getting close on #93. We're in the process of fixing a few issues I discovered. Once those are resolved I'll probably merge the PR and either let people point their Mixfile at master to test it or release a beta. I just want to make sure this doesn't introduce any new bugs/regressions since it's a big refactor. Excited to

[2017-10-10 16:34] joshuap commented on #88
@silasjmatson 0.7.0-beta has been released. Can you test it out locally to see if this issue still exists there? To make it report in dev mode you can override `exclude_envs` in your config: `exclude_envs: []`.

[2017-10-10 16:58] silasjmatson commented on #88
@joshuap Awesome! I'll give it a whirl later today and report back.

[2017-10-10 17:04] joshuap opened #94 "Dev mode is not respected when MIX_ENV is configured via environment variable"
Running the phoenix server like this, no errors should be reported because dev is an excluded env:

[code]

The result is that errors *are* reported, however. I think it's because the values in the `excluded_envs` configuration option are atoms, but when configured via an environment variable the `env` config option is a string.

I think that when reading the MIX_ENV environment variable we should

[2017-10-10 17:36] joshuap commented on #77
Wondering if this could be related to #94.

[2017-10-10 17:44] #7 closed

[2017-10-10 17:45] joshuap commented on #20
This is added in 0.7.0-beta, which has been released (stable release should happen soon).

[2017-10-10 17:45] #20 closed

[2017-10-10 17:52] joshuap opened #95 "Tagged releases are behind"
We haven't been tagging our releases properly: https://github.com/honeybadger-io/honeybadger-elixir/releases

We should add tags for all the versions on Hex:

https://hex.pm/packages/honeybadger

This will require digging through the commit history for the release shas, unfortunately.

Moving forward, let's always tag our stable releases (alpha/beta/rc releases do not require tags).

- [x] Add tag

[2017-10-11 01:05] silasjmatson commented on #88
@joshuap Testing with the beta, everything is golden so far! 👍

[2017-10-11 03:25] joshuap commented on #94
Note: #96 should fix this (thanks @sorentwo!) so we just need to review/verify and merge.

[2017-10-11 16:20] silasjmatson commented on #88
@joshuap Closing as this is resolved on master and in the 0.7.0-beta.

[2017-10-11 16:20] #88 closed

[2017-10-11 16:21] joshuap commented on #88
@silasjmatson great, thanks!

[2017-10-14 12:02] minhajuddin commented on #95
#98 Adds the release task and the documentation

For the first todo list item, hex does not store the git sha id, so there is no definite way to know which commit. The following script gets the commits and versions whenever the version property was updated. Hopefully, that would be the commit that created the hex release.

[code]

You can run the following command to create the proper tags for all

[2017-10-14 12:22] minhajuddin opened #99 "First three lines of stack trace are noise when Honeybadger.notify is used"
When Honeybadger.notify is used, it adds the following stack trace. The first 3 lines here come from the Honeybadger client code. This occurs in 0.7.0-beta

[code]

[2017-10-16 03:58] sorentwo commented on #99
How was `notify/1|2|3` called for this example? Was there an error during the request or was it triggered manually? That is expected if `Honeybadger.notify/1|2` is called manually, without the stacktrace being passed in.

When no stacktrace is provided it falls back to using `Process.info/2` (http://erlang.org/doc/man/erlang.html#process_info-2) , which will always contain some "noise" about the c

[2017-10-16 04:19] minhajuddin commented on #99
`notify` was called manually in this instance.

[2017-10-16 14:18] #94 closed

[2017-10-16 14:51] joshuap commented on #77
This should be fixed on master.

[2017-10-16 14:51] #77 closed

[2017-10-16 15:13] joshuap commented on #99
@minhajuddin can you check out #100 and see if that resolves this issue?

[2017-10-16 15:18] joshuap commented on #95
@minhajuddin thanks, tags have been created!

[2017-10-16 15:18] #95 closed

[2017-10-17 05:37] minhajuddin opened #101 "Integration with Logger"
Many elixir apps use `Logger.error` to capture critical errors. The Honeybadger client doesn't capture this information at the moment.

Adding a custom [Logger](https://hexdocs.pm/logger/Logger.html) backend for Honeybadger would allow users to start getting useful information straight away, without needing to add `Honeybadger.notify` in addition to `Logger.error`

https://github.com/onkel-dirtus/

[2017-10-17 06:02] minhajuddin opened #102 "Setting filter_disable_url does not filter url info from the Environment"
The Environment section of the error has 3 url related keys `ORIGINAL_FULLPATH`, `QUERY_STRING` and `PATH_INFO`. These keys should be filtered out when `filter_disable_url` is set. As of now, this info is being sent even when `filter_disable_url` is set.

[2017-10-17 12:39] sorentwo commented on #101
I like where your head's at! Reworking the logger was next up on my list. Specifically allowing it to respect metadata to disable logging, which will prevent #65.

[2017-10-17 23:59] #99 closed

[2017-10-18 00:09] joshuap commented on #101
You're always several steps ahead of us, @sorentwo. xD That sounds great. Are you pretty confident that reworking the logger is the solution to #65? I was going to ask @minhajuddin to look into the infinite errors issue but if you think you've got it covered then we could work on something else so that we're not stepping on your toes. It would be great if we could get the fix for #65 into the next

[2017-10-18 01:29] sorentwo commented on #101
I'm fairly confident it will fix the problem. I believe it is a combination of adding the report handler directly within `Honeybadger.start/2` and the way the current logger handles the `:error_report` event. A Logger backend should be simpler to implement and configure as well.

[2017-10-24 16:57] joshuap commented on #101
@sorentwo sounds good! Is there anything we can help with? Any other preliminary work that needs to be done to support logging?

[2017-10-24 17:26] sorentwo commented on #101
@joshuap Hmm. I did a spike on this and a ton of reading. It appears that we need two logger modules to achieve this:

1. The existing error logger, which gets events directly from Erlang.
2. A new logger backend that gets events from Elixir's logger.

Errors that pass through Elixir's Logger are normalized. The error itself and the stacktrace are converted into iodata, so there isn't any way to g

[2017-10-25 23:11] #92 closed

[2017-10-27 16:31] #102 closed

[2017-10-30 05:12] minhajuddin opened #110 "Document supported versions of Elixir, OTP, Plug and Phoenix"
We have a few dependencies: Elixir, Erlang OTP, Plug and Phoenix. We should document them and also activate them in our TravisCI. @joshuap Do you have any thoughts on which versions of these should be supported? I can then work on changing the travis configuration and adding ability to test our package with different versions of plug/phoenix

[2017-10-31 13:43] minhajuddin commented on #110
@joshuap Any thoughts on this?

I am thinking the following

OTP: 18+
Elixir: 1.2+
Phoenix: 1.0+
Plug: 1.0+

[2017-10-31 15:05] minhajuddin commented on #110
I am just copying the build matrix from Phoenix, those defaults should be good enough for us.

[2017-10-31 16:28] joshuap commented on #110
@minhajuddin wfm. 👍

[2017-10-31 16:30] sorentwo commented on #110
In the other PR the matrix was updated to start at 1.3, right? That seems like a more reasonable oldest version (and it would let us use describe blocks!)

[2017-11-06 19:57] #110 closed

[2017-11-06 20:08] #36 closed

[2017-11-06 20:13] sorentwo commented on #65
I think that with #93 and #109 this issue shouldn't be an issue anymore.

@belousovAV @pdilyard @mbriggs if you happen to be using honeybadger still, will you check whether this problem still exists on master?

[2017-11-06 20:16] sorentwo commented on #78
@joshuap I did a little research spike on this and it looks rather straight forward. Do you have a preferred/suggested format for reporting arguments? Looking at the Ruby gem's implementation didn't provide any insight.

[2017-11-07 04:51] belousovAV commented on #65
Do not see this error either with 0.6.3 or with master.

[2017-11-07 18:04] joshuap commented on #65
Awesome. I'm going to go ahead and close this so that we can do the 0.7 release. If any of you experience this again, please reopen and we'll continue digging.

[2017-11-07 18:05] #65 closed

[2017-11-07 18:06] #72 closed

[2017-11-07 18:15] joshuap commented on #78
@sorentwo for reference, [here is our collector API documentation](http://docs.honeybadger.io/guides/api.html#collector-api). I'm thinking that we'd add some new property to the backtrace, such as  `.error.backtrace[].params`:

[code]

What do you think?

[2017-11-07 18:15] joshuap commented on #78
cc @stympy -- thoughts on this?

[2017-11-07 18:19] sorentwo commented on #78
@joshuap Adding a new entry for `params` sounds good to me, provided long as the server will safely accept those.

[2017-11-07 18:21] joshuap commented on #78
Agreed. We can add support on the server; my only concern is leaking sensitive data. This should probably be an optional feature, or maybe integrate with the request filters somehow.

[2017-11-07 18:29] sorentwo commented on #78
An argument could be anything, even a very sizable struct like a `Plug.Conn`, which itself could have contain sensitive data. Additionally, there isn't any way to be sure what a particular argument is, so it could be a name and password, but without any type of label.

I think it should be an opt-in feature with caveats about sensitive information.

This is definitely something I would opt into fo

[2017-11-07 18:58] stympy commented on #78
This looks good to me.  Is params always going to be an array, even when just one arg is passed to the function?  Consider this question a 👍 for it always being an array. 😄

[2017-11-13 19:55] sparta-developers opened #116 "Unable to run application tests when HONEYBADGER_API_KEY is not set"
We just updated from 0.6.3 to 0.7.0, and discovered that we are no longer able to run our test suite without setting `HONEYBADGER_API_KEY` in the environment. This doesn't really make sense, because the test environment is listed in `:excluded_envs` in the honeybadger config.

Our quick workaround is to add an empty `HONEYBADGER_API_KEY` to our env, but it would be better if we only had to export

[2017-12-06 15:58] aaronrenner opened #121 "Make plug an optional dependency"
I have several elixir applications where I'm using honeybadger, but they don't have a plug dependency. What would you think about making plug an optional dependency like Phoenix?

[2017-12-06 16:21] sorentwo commented on #121
@aaronrenner I think that's a great idea. The plug integration needs a little overhaul as well, it isn't currently to customize or augment it.

[2017-12-07 22:38] #116 closed

[2017-12-07 22:41] joshuap commented on #121
I'm all for this. Would accept a PR or am happy to implement as we have time.

[2017-12-13 00:40] joshuap opened #123 "Improve argument reporting"
Honeybadger now supports [sending arguments](https://github.com/honeybadger-io/honeybadger-elixir/pull/115), however the cases where the arguments are actually available seem limited; see [this comment by @sorentwo](https://github.com/honeybadger-io/honeybadger-elixir/pull/115#issuecomment-350154494).

We may be able to provide arguments more often by studying how Elixir/iex display the arguments

[2017-12-13 05:36] #121 closed

[2017-12-18 18:47] #78 closed

[2018-01-31 19:04] sparta-developers commented on #116
Thank you!

[2018-02-18 19:48] maxim opened #130 "404s are sent as errors to Honeybadger"
I am using v0.8.0. For some reason we're getting 404s reported as errors.

[code]

The error is coming from Ecto query not finding a thing, but perhaps Honeybadger is failing to match [something here](https://github.com/honeybadger-io/honeybadger-elixir/blob/ee3417585b83d93266b4986084d048a76f13d007/lib/honeybadger/plug.ex#L58) (didn't research this, just guessing from a glance at the code).

We ar

[2018-02-20 11:35] minhajuddin commented on #130
Thanks for reporting this, I'll take a look at it shortly.

[2018-02-27 14:16] minhajuddin commented on #130
This is a regression, will fix it soon.

[2018-02-27 15:08] sorentwo commented on #130
@minhajuddin This one is on me, I'm happy to submit a fix. Did you replicate it with crywolf?

[2018-02-27 15:46] minhajuddin commented on #130
@sorentwo Yes, this is happening when `Repo.get!(User, 1)` returns a not found error.

[2018-03-06 03:42] minhajuddin commented on #130
@maxim This issue should be fixed now, can you try this in your app using `github: honeybadger-io/honeybadger-elixir` in your mix.exs

[2018-03-12 15:12] maxim commented on #130
@minhajuddin Gave it some production time, seems good. 👍

[2018-04-23 22:57] joshuap opened #135 "Connection timeout after several weeks in long-running nodes"
A user reported this issue via a support ticket--they have a long-running process, and after a few weeks errors stop being reported and they see this error in their log:

[code]

@minhajuddin can you think of any reasons why this could happen? I'll ask them to post any other relevant info here.

[2018-04-23 23:32] joshuap commented on #135
Could it be related to https://github.com/benoitc/hackney/issues/462 ?

[2018-04-23 23:58] sorentwo commented on #135
That looks like it could very well be the issue. We can update the requested version of hackney, but I imagine many applications will have other dependencies on older versions of hackney/http_poison.

[2018-04-24 01:15] joshuap commented on #135
@sorentwo We're already locked to `~> 1.1`, so the user should be able to manually update to hackney 1.12, I think?

[2018-04-24 13:38] sorentwo commented on #135
@joshuap Yes, they should be able to do that.

My point was that we can't lock to `1.12` specifically, as it may conflict with other deps. It is up to users to define a more specific version in their application.

[2018-04-27 13:02] tcoopman opened #136 "Make the json decoder configurable"
[jason](https://github.com/michalmuskala/jason) is a new json encoder that phoenix supports as well (https://github.com/phoenixframework/phoenix/issues/2693).

It would be nice if this could be configured in honeybadger to use an other json decoder.

[2018-04-27 14:05] sorentwo commented on #136
In all of my projects I've switched to Jason as well, totally on board with this 💯

@joshuap @minhajuddin I'm happy to open a PR that switches the default to Jason and makes it configurable, what do you think?

[2018-04-27 14:10] tcoopman opened #137 "Don't crash if Poison.encode fails"
I think it would be useful to not crash when `Poison.encode` fails [here](https://github.com/honeybadger-io/honeybadger-elixir/blob/8c52e0f1a7ad8c4211cd87aed70da6f3e0806e07/lib/honeybadger/client.ex#L114).

Instead there maybe could be a fallback (`inspect()`) and this could be sent to honeybadger along with an `encoding` error?

If you are open to this, I'll see if I can create a PR.

[2018-05-09 10:45] minhajuddin commented on #135
@joshuap Have you heard back from the reporter about the version of hackney, This has been an older version of hackney which has been fixed since.

[2018-05-09 11:09] #137 closed

[2018-05-09 11:09] #136 closed

[2018-05-09 11:10] minhajuddin commented on #136
@tcoopman The fix for this swaps out the encoder for Jason.

[2018-05-14 22:46] joshuap commented on #135
@minhajuddin I haven't, and I'm going to assume that this issue is fixed, or at least has a clear workaround: update to the latest version of hackney. :)

[2018-05-14 22:46] #135 closed

[2018-05-14 22:50] joshuap opened #146 "Prep for 0.10.0 release"
Let's get this release out with the latest changes on master.

@minhajuddin can you update CHANGELOG with changes since 0.9.0? We can probably summarize the dependency bumps on a single line.

Let me know when everything is ready and I'll cut a release.

[2018-05-21 19:04] AnilRedshift opened #149 "No matching function clause Honeybadger.Backtrace.from_stacktrace/1"
Hello,

I'm getting the following application logs:

From looking at the source code, `stacktrace` [must not be a list](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/backtrace.ex#L22)?

I don't have any other debugging info to go on unfortunately. Our HB setup is the straightforward plug integration:

[code]

[2018-05-22 17:16] minhajuddin commented on #146
@joshuap CHANGELOG is updated

[2018-05-22 17:17] minhajuddin commented on #149
@AnilRedshift Can you share your elixir,  erlang, honeybadger, plug and phoenix versions.

[2018-05-23 18:55] AnilRedshift commented on #149
@minhajuddin:
elixir is 1.6.3
erlang is 20.2.4
honeybadger is 0.9.0
plug is 1.5
phoenix is 1.3.2

[2018-05-23 19:02] sorentwo commented on #149
@AnilRedshift Do you happen to be calling `Honeybadger.notify` manually anywhere? The format returned by `System.get_stacktrace/0` and `Process.info/2` always returns a list of tuples, so I don't know how we would get anything that isn't a list.

[2018-05-24 07:26] AnilRedshift commented on #149
Ah, yes we are
`Honeybadger.notify("Data is not found.", %{context: %{conn: inspect(conn)}})`

I'll try to force a repro of this tomorrow, but just from code inspection, it looks like the Honeybadger code is the one that [sets the stacktrace to nil](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L207)?

 `def notify(exception, metadata \\ %{}, stacktrace \\ nil

[2018-05-24 21:22] thmzlt commented on #149
Same here, adding the Honeybadger hex package and setting `use_logger: true` gets me the same error.

[2018-05-24 21:46] sorentwo commented on #149
There must be a case where the error logger is getting passed `error_info` that has a stacktrace that isn't a list. I'd love to know _why_ that is happening, since to my knowledge that isn't documented.

@thmzlt Any idea what error is triggering it for you?

I can add guards and an additional clause to prevent failure when the `error_info` payload doesn't match. My only concern is that we'll lose

[2018-05-26 15:38] sorentwo commented on #149
I've prepared a fix for this issue using a contrived test example.

@AnilRedshift @thmzlt Please take a look at #150 and give it a try.

[2018-05-29 16:24] #149 closed

[2018-06-26 23:26] sublimecoder opened #158 "Minor version bump?"
Could we get a minor version bump so we can use the changes from the commit below with out using master?

https://github.com/honeybadger-io/honeybadger-elixir/commit/4d00558ee3d2c6966e2f46ceeb1ea121c5f2e78e

[2018-06-27 19:18] joshuap opened #159 "Test speed/stdout"
Running the tests locally, they are generating a lot of stdout, and seem to be slower than I remember. Did this recently change, @minhajuddin?

[2018-06-27 19:18] joshuap commented on #158
0.10.1 has been released!

[2018-06-27 19:18] #158 closed

[2018-06-27 20:46] sorentwo commented on #159
If I recall this changed when the dummy phoenix app was integrated. At that point the suite got a fair bit slower and much noisier.

[2018-06-28 10:22] minhajuddin commented on #159
We added a dummy phoenix app to improve our integration tests which added ~50 lines to stdout. However, it wouldn't have impacted the execution time for tests. The latest test suite took 4m33s on travis (https://travis-ci.org/honeybadger-io/honeybadger-elixir/builds/397492699) to run the whole matrix (10 combinations). I pulled an oldish build (https://travis-ci.org/honeybadger-io/honeybadger-elix

[2018-06-28 15:28] joshuap opened #160 "(Protocol.UndefinedError) protocol Jason.Encoder not implemented"
A customer reported having the following error after upgrading honeybadger-elixir from `0.9` to `0.10.1`:

[2018-06-28 16:42] joshuap commented on #160
@minhajuddin how do existing users fix this error? Also, will new users need to do anything special to avoid this?

[2018-06-28 17:30] minhajuddin commented on #160
I took a quick look at https://github.com/michalmuskala/jason/blob/master/lib/encoder.ex#L97 and one way of fixing it would be to override the default implementation which doesn't appeal to me. The other option is to ask our users to implement the `Jason.Encoder` protocol for all their structs as shown here: https://github.com/michalmuskala/jason#differences-to-poison , that too doesn't seem like

[2018-06-28 21:05] nihalgonsalves commented on #160
I was the one who reported this issue.

@minhajuddin I haven't looked at what you do with the encoded structs (I'm assuming this is for things in the context?) but perhaps an alternative option if you want to continue using Jason instead of Poison is to first run it through `Map.from_struct/1` (and send the struct name separately). Switching back to Poison does seem easier for now, however.

[2018-06-29 13:57] sorentwo commented on #160
Most of the other packages are moving to Jason as a dependency, so it feels wrong to require Poison as a separate JSON dependency.

Realistically we can't expect users to strictly control what they stick into context. Even Poison won't encode a tuple, so I think the most robust solution is to walk the context and scrub it or convert to encodeable types.

[2018-06-29 17:21] joshuap commented on #159
OK, thanks. Might be nice to silence the stdout if possible, but I'll close this as it's not a major issue.

[2018-06-29 17:21] #159 closed

[2018-07-02 18:19] joshuap commented on #160
The fix for this has been released in 0.10.2

[2018-07-04 08:52] nihalgonsalves opened #164 "Parallel Compiler issue"
I get this compilation error when compiling my deps:

[code]

It may be related to https://github.com/elixir-lang/elixir/issues/7699 or https://github.com/getsentry/sentry-elixir/issues/232

This happened right after fixing a similar problem with `Sentry.Plug`

[2018-07-07 09:51] minhajuddin commented on #164
I am trying to reproduce this without any luck, I've used https://github.com/honeybadger-io/crywolf-elixir as a test project. @nihalgonsalves Are you able to consistently reproduce this? Can you share your version info? Elixir, Erlang, Plug and Honeybadger versions.

[2018-07-09 18:36] sorentwo commented on #164
If you follow the chain links through the linked issues you'll find https://github.com/elixir-lang/elixir/pull/7833. This was fixed four days ago and will be released with Elixir 1.7.

[2018-07-11 07:52] nihalgonsalves commented on #164
A few changes later I reverted the removal of `Honeybadger.Plug` and now it works for me as well, on `1.6.5`. Looks like something transient/random. Thanks anyway!

[2018-07-11 07:52] #164 closed

[2018-07-11 15:42] joshuap commented on #164
Thanks everyone!

[2018-08-06 15:18] thmzlt opened #172 "ErlangError: :badmatch"
Here's a screenshot of the Honeybadger stacktrace:

![2018-08-06-121619_1151x912_scrot](https://user-images.githubusercontent.com/7709/43725381-c090b454-9972-11e8-878a-418f6ef9c9a2.png)

Running honeybadger-elixir version 0.10.2 on Elixir 1.6.

[2018-08-06 15:29] thmzlt commented on #172
BTW, errors seem to be normally reported. It's just that my Haneybadger project is filled with this error.

[2018-08-06 15:38] sorentwo commented on #172
@thmzlt How often is this being reported? Does it seem tied to any particular event (restart, process crash, etc.)?

[2018-08-06 15:51] thmzlt commented on #172
All the time. In our case it has happened ~3 million times since we started using Honeybadger on our Elixir project two months ago.

It seems to be reported whenever an actual error is reported.

[2018-08-08 19:26] minhajuddin commented on #172
@thmzlt we'll check this and get back to you

[2018-08-08 19:33] sorentwo commented on #172
@minhajuddin I'm on it 👍

[2018-08-09 15:37] #172 closed

[2018-08-09 16:23] thmzlt commented on #172
Thanks a lot for looking into it!

[2018-08-23 21:58] joshuap opened #175 "Next release"
We've updated some dependencies and fixed one bug recently:

https://github.com/honeybadger-io/honeybadger-elixir/blob/master/CHANGELOG.md#unreleased

Should I release v0.10.3? @sorentwo @minhajuddin

[2018-08-23 22:06] sorentwo commented on #175
@joshuap I was hoping to hear back on whether that latest bug fix was successful. However, we don't ever experience that error at dscout and it doesn't seem possible to replicate, so I say 👍 to a minor release.

[2018-08-24 03:40] minhajuddin commented on #175
Sounds good :+1:

[2018-09-02 20:11] artonragsdale opened #176 "Capture Logger.metadata as HoneyBadger context"
I currently have various Logger metadata set and passed between various processes, which works great to capture useful information if a exception occurs when I use backends that support it.

I like that HoneyBadger can be used as a Logger backend to make integrating it unobtrusive, but the only missing piece is transferring that metadata to HoneyBadger as context.

[2018-09-18 19:19] joshuap commented on #175
Sounds good @sorentwo, let me know when you've confirmed and I'll release.

[2018-09-19 17:47] sorentwo commented on #175
I haven’t seen the issue crop up again after we started using master. I think we are all set.

[2018-09-22 15:17] #176 closed

[2018-09-27 17:47] ericlathrop commented on #172
I'm getting this same error after upgrading honeybadger from `0.10.0` to `0.10.3`, Elixir from `1.6.4` to `1.7.3`, and Erlang from `20` to `21`. The stack traces is the same, but the line numbers are slightly different.
![screenshot from 2018-09-27 13-43-59](https://user-images.githubusercontent.com/530891/46164325-b3d9ad80-c25b-11e8-80a0-0a5c14835aa1.png)

[2018-09-27 17:54] sorentwo commented on #172
I wonder if this is a slightly different error introduced by the automatic logger metadata extraction.

@ericlathrop Is this happening often or in a reproducible way?

[2018-09-28 13:38] minhajuddin commented on #172
@sorentwo `0.10.3` doesn't seem to have the logger metadata changes.

[2018-10-12 15:41] MichaelDimmitt opened #183 "Video in README.md has an error."
Going to the link:
https://josh-rubyist.wistia.com/medias/pggpan0f9j

Produces error:
`This account has been cancelled. If you are the account's owner, you may login here to choose a plan and reactivate this account.`

[2018-10-12 19:05] sorentwo commented on #183
Nothing I can do for this one, /cc @joshuap

[2018-10-12 19:28] sorentwo commented on #172
tl;dr — This is a separate issue, but something that I'll be investigating.

I believe what we're seeing dissociated errors that are grouped together by an incorrect stack trace. For example, here is a connection timeout error that was just reported:

![screenshot_2018-10-12 exception and uptime monitoring 360-degree coverage of errors outages and service degradation](https://user-images.githubuse

[2018-10-12 19:36] axelson commented on #172
Is the/a problem that in the BEAM a stracktrace is generated only when an exception occurs and if you call `System.stacktrace()` or (probably) `Process.info(self(), :current_stacktrace)` you will get an incorrect stacktrace?

So I think that the current stacktrace fetching code may be flawed (although I may be totally off base here):
https://github.com/honeybadger-io/honeybadger-elixir/blob/817d5f

[2018-10-12 19:57] sorentwo commented on #172
@axelson Yes, that is the culprit. We aren't supposed to hit that clause during regular operation, it is a last resort that is supposed to guarantee _some_ stacktrace is reported.

The situation we seem to be running into is when errors are reported through the error logger. If the logged error doesn't include the original stacktrace then we don't have any way to grab it. At that point we aren't i

[2018-10-15 20:13] #183 closed

[2018-10-16 20:11] MichaelDimmitt commented on #183
working again 🎉

[2018-10-22 17:39] sorentwo commented on #54
There are more than a handful of background job processors out there now: exq, verk, ecto_job, honeydew, kiq. There isn't an obvious favorite to support like there is with plug and phoenix.

I don't believe it is tenable to support middleware for all of these projects inside of Honeybadger itself (not to mention how easy it is to integrate Honeybadger manually).

@joshuap What do you think? Can we

[2018-11-02 22:20] joshuap commented on #54
@sorentwo yep, thanks!

[2018-11-02 22:20] #54 closed

[2018-12-07 09:01] tcoopman opened #190 "Is it possible to ignore crashes of a specific GenServer while still having `use_logger` true?"
The title basically says it all. I want to ignore a crash from a specific GenServer (external dependency that I have no control over). I think with the new `Logger` that it should be possible to ignore it with filters on the logger, but so far I haven't found anything in `sasl` or `error_logger`.

So I was wondering if there was an other way to ignore the error?

[2018-12-10 14:56] sorentwo commented on #190
There currently isn't any way to filter errors that come through the error logger. A crash report would be too generic to match on anyhow. Without filtering based on additional context or process state you would probably ignore far more errors than you intended.

You can pause or ignore the error directly within the Honeybadger UI.

[2018-12-10 14:56] #190 closed

[2018-12-10 15:08] tcoopman commented on #190
The problem with the Honeybadger UI is that you can't pause/ignore an error based on an environment as far as I can see.

[2018-12-10 17:09] stympy commented on #190
Since errors are grouped by environment, you can ignore an error based on environment.

[2018-12-11 08:44] robinvdvleuten commented on #130
I still have 404 errors logged by Honeybadger;

[code]

[2018-12-17 17:37] minhajuddin commented on #130
@robinvdvleuten, @fabiokr Can you guys share your honeybadger and phoenix version info. The latest version shouldn't have this issue.

[2018-12-17 18:06] fabiokr commented on #130
@minhajuddin I am on phoenix 1.4.0 and honeybadger 0.10.3.

[2018-12-17 18:09] sorentwo commented on #130
My hunch is that this is coming from changes in 1.4.0...

[2018-12-24 12:01] robinvdvleuten commented on #130
@minhajuddin same here, I am on phoenix 1.4.0 and honeybadger 0.10.3.

[2018-12-28 00:51] moxley opened #193 "`Erlang error: {{%Phoenix.Router.NoRouteError ...` for not-found requests"
As reported in this comment: https://github.com/honeybadger-io/honeybadger-elixir/issues/130#issuecomment-446118498. This is a separate issue from #130.

This same issue is causing any error that originates in a Plug app to be reported twice-- once the "normal" way, and again with the error wrapped in an Erlang error.

As a workaround, you can turn off the `use_logger` configuration:
[code]

Here'

[2019-01-02 23:49] tielur commented on #130
I'm also getting this problem:

honeybadger 0.10.3
phoenix 1.4.0

[2019-01-02 23:51] tielur commented on #193
I'm getting this same error:

honeybadger 0.10.3
elixir 1.6.5
OTP 19
phoenix 1.4.0
plug 1.7.1
plug_cowboy 2.0.0
cowboy 2.6.0

[2019-01-03 01:10] tielur commented on #193
I'm curious as to why this is happening *now*. The reraising of an error from Plug.ErrorHandler has been there for years, also the gen_event handling inside of HoneyBadger.Logger has been there for over a year.

I'm not sure why these are just now showing up in Honeybadger.

[2019-01-03 01:20] moxley commented on #193
@tielur: I'm curious too. I thought the OTP version made the difference, because SASL (which is referenced in the README) is no longer used in OTP 21. But you're on 19. 🤷‍♂️

We recently upgraded our dependencies-- including Honeybadger-- and this issue started happening around that time.

[2019-01-04 20:47] tielur commented on #193
So I *think* I found out more information a la: https://github.com/appsignal/appsignal-elixir/issues/417

[2019-01-04 21:21] tielur commented on #193
As a quick work around, if you don't need `plug_cowboy` 2.0+, you can downgrade to `{:plug_cowboy, "~> 1.0"}` in the short term.

[2019-01-04 21:23] sorentwo commented on #193
@tielur Thanks for the appsignal links, that is very helpful. I'm back from vacation and will look into fixes for this starting next week.

[2019-01-14 17:54] joshuap commented on #130
@sorentwo do you have any ideas on this one? I'll reopen the issue until I'm sure this has been fixed (and I'm happy to help out if needed).

[2019-01-16 14:31] van-mronov opened #195 "`PlugData` does not handle invalid remote IP"
We noticed in our system some interesting bug.
One of our internal plug put remote IP in `Plug.Conn` structure as string not as tuple.
When error occurs in controller honeybadger tried to parse this ip string with `:inet.ntoa/1`. It expects tuple not string and returns `{:error, :einval}` which honeybadger tried to pass into `List.to_string/1` and it crashed.

`lib/honeybadger/plug_data.ex`:
[code

[2019-01-17 19:01] van-mronov commented on #195
Fixed

[2019-01-17 19:01] #195 closed

[2019-01-26 01:21] mjs2600 opened #198 "Map.t() isn't a valid dialyzer type"

[2019-02-07 00:54] axelson opened #200 "Erlang error: :case_clause from Honeybadger"
Getting this on 0.10.2 and 0.10.3:

Stacktrace:
[code]

Honeybadger link for any employees: https://app.honeybadger.io/projects/50379/faults/39800245#notice-summary

[2019-02-07 17:00] joshuap commented on #200
Thanks for the report, @axelson. Do you have any code that can reproduce the error, by any chance?

[2019-02-07 18:59] axelson commented on #200
No I don't sorry. Nothing in the stacktrace is our code so I'm not really sure what's happening.

[2019-02-14 23:27] bernardd commented on #200
We're seeing the same thing, but we're generally able to extract the correct call stack from our logging system. In our most recent example the code looked like this:

[code]

The key bit is the `with` clause - the `Messenger.send` function returned `{:error, "Some string or other", 404}` which matched neither the success case nor the single pattern under `else`, triggering a `with_clause` excepti

[2019-02-15 00:37] axelson commented on #200
@bernardd thanks for that, your report is much more helpful than mine :)

For reference we're running on Elixir 1.7.4 and Erlang 21.0.4

[2019-02-15 14:43] sorentwo commented on #200
@bernardd @axelson Thank you for the additional information. I've scheduled time to work on this next week. However, I don't work at Honeybadger and can't see the details of that fault. We get plenty of these types of errors ourselves though, so I should have plenty to work from.

[2019-02-28 19:21] sorentwo commented on #200
@bernardd @axelson The logger changes have just been released as `0.11.0`, please take a look and report back whether it has improved things for you.

[2019-03-01 10:52] thomasbrus opened #207 "Pass revision of current deploy?"
Is it possible to pass the revision of the current deploy? I couldn't find anything in the docs or in the code.

Both the Ruby & JS version support a `:revision` config option:
- https://docs.honeybadger.io/ruby/gem-reference/configuration.html
- https://docs.honeybadger.io/lib/javascript/reference/configuration.html

[2019-03-01 17:41] sorentwo commented on #101
What we eventually shipped is different than the original request here. Is this still a desired feature? It isn't something we would use, so I'm not a good judge.

[2019-03-01 21:43] joshuap commented on #101
@sorentwo I'm not a good judge either. I don't think anyone else has specifically requested this feature, so I'm fine with holding off on it. I'll go ahead and close it. To future users: if you want this, plz comment/reopen!

[2019-03-01 21:43] #101 closed

[2019-03-01 21:46] joshuap commented on #207
@thomasbrus it doesn't look like we support this feature yet. I'm open to PRs for it, though. I think it would require adding a `revision` configuration option, and then sending that option in the API payload similar to [how we do for Ruby](https://github.com/honeybadger-io/honeybadger-ruby/blob/35d210bb2a97ab3d19c892defa40c0854a0ebe50/lib/honeybadger/notice.rb#L215).

[2019-03-01 22:23] thomasbrus commented on #207
I'll have a look at it soon-ish!

[2019-03-22 23:33] axelson opened #211 "Is there a reason not to call `Exception.blame` automatically?"
Is there a specific reason that `Exception.blame/3` is not called automatically by Honeybadger? It does say that "This operation is potentially expensive, as it reads data from the file system, parses beam files, evaluates code and so on." but I think this should at least be optional when using honeybadger since it provides a much richer error.

It can convert an error like this:
[code]

into:
[co

[2019-03-26 16:23] sorentwo commented on #211
@axelson There isn't a good reason at this point. Historically the primary reason is that we don't require a `kind` argument for `notify/3` and we treat all exceptions like an `error` when normalizing.

I think it would be a good change to get in though. I can look into it next week, or if you're interested a PR is certainly welcome =)

[2019-03-27 04:25] tielur commented on #172
I recently started getting this exact same error on two different elixir applications:
elixir 1.6.5
erlang 20.3
honeybadger 0.10.3

App 1:
![image](https://user-images.githubusercontent.com/977174/55050334-5c9b7680-500d-11e9-8112-ff3e40969178.png)
App 2:
![image](https://user-images.githubusercontent.com/977174/55050347-6b822900-500d-11e9-86dc-87a1e666de2b.png)

[2019-03-27 04:25] tielur commented on #172
@sorentwo Any idea why this would still be happening?

[2019-03-27 20:37] sorentwo commented on #172
@tielur The fix for that error is in Honeybadger v0.11.0, but it requires Elixir 1.7+ and Erlang 21+. The fix involved an overhaul to how we integrated with logger, which prompted a move to 1.7+.

See the [CHANGELOG](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/CHANGELOG.md#v0110---2019-02-28) and the [Pull Request](https://github.com/honeybadger-io/honeybadger-elixir/pull/204)

[2019-03-29 18:36] tielur commented on #172
@sorentwo thank you!

For what it's worth, I think my error was related to `tzdata` updating and the latest 2019a time zone database update had a typo in it(https://github.com/lau/tzdata/issues/9#issuecomment-476854925)

So I think tzdata was throwing an error, honeybadger had a mismatch but in the grand scheme of things my application kept on running. ❤️

I guess it's time to upgrade elixir and e

[2019-04-04 18:38] nurugger07 commented on #130
@joshuap has this been assigned? I can take a look today.

[2019-04-04 19:06] sorentwo commented on #130
I'm not sure if this is still an issue. We haven't seen it for a while now since 0.11.

[2019-04-04 21:47] joshuap commented on #130
I haven't had any reports of this, but nope, it's not currently assigned. If you can reproduce and want to take a stab at it, feel free @nurugger07!

[2019-04-04 22:32] #207 closed

[2019-04-05 03:42] nurugger07 commented on #130
@joshuap yeah #193 is the one that had our attention but then I saw this as well. I can take a look tomorrow and see if we can get these cleared up.

[2019-05-02 02:50] axelson commented on #211
This would be really useful for us so I've created a PR #219

[2019-05-10 14:01] #211 closed

[2019-05-29 00:09] joshuap opened #222 "Release 0.12"
This issue is to track the release of 0.12.0. We currently have 2 unreleased additions in the CHANGELOG. Let me know if there's anything we're missing, @sorentwo. Otherwise I'll plan to cut the release in in a few days. Thanks!

[2019-05-29 14:05] sorentwo commented on #200
@bernardd @axelson It has been a few months since 0.11 was released. Have things gotten better for you?

[2019-05-29 14:25] sorentwo commented on #222
@joshuap I took a look through the commits and it looks like everything is covered in the CHANGELOG. Before we get 0.12 out it would be great to have Erlang/OTP 22 in the build matrix.

Note: PR for OTP 22 is here #223

[2019-05-29 18:14] axelson commented on #200
Yeah, this error has disappeared after the update to 0.11 :+1: Thanks!

[2019-05-29 18:16] #200 closed

[2019-05-29 18:23] joshuap commented on #222
Thanks @sorentwo! Merged that. I'll release by the end of the week.

[2019-05-30 00:20] bernardd commented on #200
Yep, same here - all good. Thanks!

[2019-05-31 00:51] joshuap commented on #222
:shipit: https://hex.pm/packages/honeybadger/0.12.0

[2019-05-31 00:51] #222 closed

[2019-06-01 22:20] sorentwo commented on #130
We haven't had any new reports of this since 0.11 was released. I'm going to close this one out.

[2019-06-01 22:20] #130 closed

[2019-06-01 22:25] sorentwo commented on #193
This was essentially a duplicate of #130. We haven't had any new reports of this since 0.11 was released either. Closing this one out.

[2019-06-01 22:25] #193 closed

[2019-06-06 06:27] steve-pieris opened #225 "Exception.blame being called on notify when noticeable is not an Exception"
After upgrading to v0.12, When Notify is called with a string, eg `Honeybadger.notify("some message")`,  the message is being reported as an Erlang Error.

Should `Exception.blame` be called when the exception parameter is not an Exception?
Note: the parameter can be of type `Notify.noticeable{}` which includes Exception, string, map or atoms.

[2019-06-06 18:12] sorentwo commented on #225
Thanks for the report. I'm working on this one now 👍

[2019-06-12 15:42] #225 closed

[2019-06-21 20:37] starbelly opened #228 "Feature Request: Include attempted function clauses in error reports when applicable"
As a user of honey badger, when an exception happens in my application involving incorrect arguments then the error report for the exception should include the attempted function clause output so I can quickly diagnose the problem at hand.

# Example

## Current behavior

Given a the operation `Decimal.mult(1, nil)` I only see the following in an error report:

[code]

## New behavior

[code]

Per

[2019-06-21 21:28] sorentwo commented on #228
@starbelly Which version of honeybadger-elixir are you using? As of 0.12 all exceptions are passed through `Exception.blame/3` and should have the most detailed exception information available.

[2019-06-21 21:38] starbelly commented on #228
@sorentwo 0.11.0 - so it sounds like this ticket can be closed.

[2019-06-21 21:49] sorentwo commented on #228
Great to hear it. Upgrade to 0.12.1 and you’ll be all set.

[2019-06-21 21:49] #228 closed

[2019-07-23 01:34] axelson opened #233 "[Feature] Add an option to define a fingerprint"
The ruby library allows you to specify the `:fingerprint` which controls the grouping. It would be nice to be able to control the fingerprint in Elixir as well.

[2019-07-23 02:46] stympy commented on #233
The documentation for the Rayburn client for sending additional info along with the error is [here](https://docs.honeybadger.io/lib/ruby/getting-started/reporting-errors.html#passing-additional-options-to-honeybadger-notify). My thought is that we can do something similar as a solution for this issue. What do you think, @joshuap?

[2019-07-23 05:55] joshuap commented on #233
I think we could do something similar, although it may look different from Ruby. `Honeybadger.notify` in Elixir accepts an exact number of arguments, and I don't *believe* the API currently supports keyword arguments like we do in Ruby, such as `Honeybadger.notify(exception, fingerprint: 'string')`. Something like that might be a nice optimization if possible.

The other/additional way that we cou

[2019-07-25 14:07] sorentwo commented on #233
#### Global Fingerprints

@joshuap Are you imagining that the top level function would replicate the [before_notice](https://docs.honeybadger.io/lib/ruby/getting-started/customizing-error-grouping.html#customizing-the-grouping-for-all-exceptions) behavior? Or, would it be more localized and just be a function to calculate the fingerprint? Are there any other use cases for the `before_notify` callb

[2019-07-25 14:11] stympy commented on #233
I vote for adding a copy of the before_notice behavior *and* adding the new `notify/2` as proposed. :)

[2019-07-25 20:30] joshuap commented on #233
Are you imagining that the top-level function would replicate the before_notice behavior? Or, would it be more localized and just be a function to calculate the fingerprint? Are there any other use cases for the before_notify callback?

Love that. 👍

[2019-07-26 13:34] sorentwo commented on #233
Great. If somebody wants to pick this up I'm happy to advise and review. Otherwise, if nobody has claimed it before next week I can work on it.

[2019-09-06 14:58] joshcrews opened #238 "[error] [Honeybadger] connection error: {:tls_alert, 'handshake failure'}"
I'm on 0.12 and get this tls_alert which means that no exceptions have been going to Honeybadger. Last exception that made it through is from ~ Aug 26.

[2019-09-06 15:27] joshcrews commented on #238
I had locked hackney in my mix file to an older verion with {override: true}

[2019-09-06 15:27] #238 closed

[2019-10-18 19:58] rabidpraxis opened #242 "Multiple errors reporting"
We have had a few reports of 2 errors reporting. Based on the notice data, it seems like both the `Plug` error handler and the logger are reporting the same exception. It appears something like this has been a problem before (#52, #56) and was resolved.

I  have noticed this when an error is thrown in the an Ecto.Repo process (say an invalid query) then I see an error reported for the Repo process

[2019-10-25 03:00] RumataEstor opened #243 "Conditional compilation of Honeybadger.Plug causes problems in umbrella projects"
I have an umbrella project with two applications: A and B.
Application A is free from any web - it doesn't depend on Plug, however it uses Honeybadger, so it is mentioned in the application deps.
Application B is the web API for A, so it depends on Phoenix and transitively on Plug. It also depends on Honeybadger as it wants to use Honeybadger.Plug in its router.

So the dependency tree looks like

[2019-10-25 17:32] sorentwo commented on #243
This would probably require a third package for Phoenix specifically as well. I'm only speaking for myself here (since I don't actually work for HB), but I don't believe they want to break things up across three packages.

[2019-10-26 02:05] RumataEstor commented on #243
@sorentwo Although telemetry integration mentions Phoenix events, it doesn't really depends on Phoenix directly, so there is no problem running that code even when Phoenix is not available.

The main problem is conditional compilation. If the Honeybadger.Plug was *always* available, it wouldn't cause any problems as it doesn't need Plug to be available for that module compilation.

[2019-10-28 23:07] sorentwo commented on #243
Quite right! I forgot that there wasn't any phoenix specific code anymore.

Without conditional compilation and without `Plug` available the dependency won't compile cleanly. We could remove the `:optional` flag for `plug` and make it a hard dependency. Plug isn't a large dependency, but it doesn't seem right to require it everywhere.

@joshuap What are your thoughts?

[2019-10-28 23:22] RumataEstor commented on #243
@sorentwo It doesn't need Plug for compilation: https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/plug.ex#L45 is under `quote` so it will only be compiled when used, which is done in the project using honeybadger and plug, not during honeybadger compilation.

[2019-10-28 23:34] RumataEstor commented on #243
Oh, I see, `Honeybadger.PlugData` depends on `Plug`.

I would certainly be very disappointed if my project not needed `plug` but would pull it only because it was mentioned in the used part of `honeybadger`.

Well, then splitting seems the only option. I think it can still be in the same repository, with 2 different packages produced.

[2019-10-31 00:36] joshuap commented on #243
@sorentwo I'm not super current on Elixir dependencies, so I will need to lean on your judgement here. My main concern with splitting is that I don't want most Phoenix users to have to install two packages by default. I don't mind if we wanted to split out some packages that all get compiled into one main package so that people get everything we provide by default while allowing those who want mor

[2019-10-31 04:37] RumataEstor commented on #243
There is a new feature in mix that could solve the problem: targets https://github.com/elixir-lang/elixir/issues/8063 . You could use it as `Mix.target() == :plug` instead of those `Code.ensure_module?(Plug)`.

[2019-10-31 08:18] josevalim commented on #243
@RumataEstor what you describe is a bug in Mix, please open up a bug report in the Elixir project. When you do so, can you please include a sample application that reproduces the error?

PS: Do not use Mix.target to solve this.

[2019-12-09 13:16] kwayebopp opened #248 "Honeybadger.Logger process terminates/times out for no clear reason"
Hi! I have an Elixir/Phoenix app using Honeybadger for error reporting and logging. During development (and I suspect occasionally in production) the server throws a `DBConnection.ConnectionError`. This happens from time to time, and I'm working on optimizing queries. What is strange is that I see the Honeybadger application is running as well, as I've tried to disable it in the development enviro

[2019-12-09 14:33] sorentwo commented on #243
Closing this due to inactivity.

[2019-12-09 14:33] #243 closed

[2019-12-09 15:07] sorentwo commented on #248
You can disable the logger in dev:

[code]

However, that shouldn't be necessary. The logger shouldn't ever crash when attempting to send a notice. I'm curious how the call to `Notice.new/3` got a single stack _line_ and not a list of stacklines:

[code]

I have a potential fix for that issue ready, but I can't recreate it with any tests.

[2019-12-09 21:57] kwayebopp commented on #248
Looking at the line, the error is a timeout, and the integer at the end is the same value as my `:queue_target` config. Maybe that has something to do with it?

[2019-12-10 23:07] sorentwo commented on #248
That is the format of every error tuple in a stacktrace. The strange part is that it isn't part of a list.

[2020-01-29 00:07] JediLuke commented on #233
Has there been any progress on this? Currently all our calls to `Honeybadger.notify/2` get wrapped in a RuntimeError, so they all get grouped together - which makes it hard to really figure out if you've seen an error before, how many times, etc.

[2020-01-29 00:59] JediLuke commented on #233
Once this has been implemented, another great feature would be throttling the number of requests sent per a certain timeframe, based on their fingerprint. The way we have structured our application, a task may fail & be restarted. This an result in lots of honeybadgers for essentially the same error if the restart doesn't fix the problem.

[2020-01-29 23:03] JediLuke opened #256 "Logger.metadata does not show up in context when calling Honeybadger.notify"
I hav found previous issues where this seems to be addressed

https://github.com/honeybadger-io/honeybadger-elixir/issues/19
https://github.com/honeybadger-io/honeybadger-elixir/issues/176

But in 0.13 I seem to be getting this behaviour again - when calling Honeybadger.notify, the `Logger.metadata` is not automatically being added to the Honeybadger context when I call Honeybadger.notify

[2020-02-06 03:50] ahsandar opened #258 "ELIXIR 1.1.0.0 breaking changes"
`Honeybadger` is not compliant with `elixir 1.10.0` seems some design choices should not have been made please refer to the below thread for details pointed out by `Jose Valim` over the issue in `honeybadger-elixir`
https://elixirforum.com/t/elixir-v1-10-0-released/28609/40?u=darnahsan

[2020-02-06 13:01] sorentwo commented on #258
Thanks for the report! Closing in favor of #259

[2020-02-06 13:01] #258 closed

[2020-02-12 23:23] kennethito opened #261 "Client has unhandled encoding errors"
[handle_cast notice](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/client.ex#L131) does not handle `%Protocol.UndefinedError`, which is the result I get for unencodable notices.  Enough of these errors can lead to the honeybadger app crashing and taking down the main application.

[code]

[2020-02-13 17:18] sorentwo commented on #261
Closing in favor of the PR.

[2020-02-13 17:18] #261 closed

[2020-03-10 18:59] joshuap commented on #256
@JediLuke thanks for the report. I'm not sure what might be causing this off the top of my head. Do you have any idea, @sorentwo?

[2020-03-11 15:36] sorentwo commented on #256
My guess is that `Honeybadger.notify` is getting called from a separate process. `Logger.metadata` is set per-process and isn't global, so it won't show up in reports from tasks or other processes that may error during a request.

This demonstrates the situation in iex:

[code]

There isn't anything (sane) we can do to grab that metadata in a separate process.

[2020-03-11 15:36] #256 closed

[2020-04-01 23:31] rabidpraxis opened #276 "Notify on :error level Logger messages"
We had a customer that expected the `Logger.error` call to notify Honeybadger. It looks like it would be a trivial change to allow notifying on logger error calls.

My question (@joshuap @sorentwo) is there a reason that we only log on process crashes?

[2020-04-02 14:01] sorentwo commented on #276
There isn't any reason not to do this now. We already use the error logger to do our reporting. Slight refinement though, we notify on both exceptions (rescue) and crashes (catch).

[2020-04-24 19:09] joshuap opened #282 "Move CI to GitHub Actions"

[2020-04-24 19:23] sorentwo commented on #282
@joshuap There is a good base for this in [oban](https://github.com/sorentwo/oban/blob/master/.github/workflows/ci.yml)

[2020-06-09 17:14] rabidpraxis opened #293 "Protocol.UndefinedError for %Honeybadger.Breadcrumbs.RingBuffer"
We received a support request where `Honeybadger.Breadcrumbs.RingBuffer` is attempting to be serialized by Jason. It looks like the error is coming from the library `logger_json` outputting the logger metadata as a log event. We use the logger metadata to store the RingBuffer as a convenience because it stays alongside the calling process. It was never meant to be output directly, as we extract th

[2020-06-09 19:22] sorentwo commented on #293
Closed by #294

[2020-06-09 19:22] #293 closed

[2020-06-18 18:10] joshuap opened #298 "OTP 22 builds failing"
It looks like the OTP 22 builds started failing after https://github.com/honeybadger-io/honeybadger-elixir/commit/9b6a78220eca04d6ac45a433262303eeb9589b33. OTP 21.2 passes. I've experienced some issues with Travis failing to add checks to PRs lately--I wonder if that's happening here.

Builds: https://travis-ci.org/github/honeybadger-io/honeybadger-elixir/builds

[2020-06-19 02:54] sorentwo commented on #298
I’ve experienced similar issues with that Ecto version locally. I’m not sure this is really a bug for us, but I’ll take a look at it.

[2020-06-19 12:39] sorentwo commented on #298
This is a bug in OTP 22 that is fixed with newer releases: https://elixirforum.com/t/ecto-no-longer-compiles-after-upgrading-to-elang-otp-22/32467/3?u=sorentwo

[2020-06-23 04:55] henrik commented on #242
Seeing the same. To give context on why one might turn on both the plug and the logger: I did so thinking the former would give better error reporting in the web stack and the latter would catch any non-web-stack errors. But of course it causes double reports a lot of the time.

[2020-07-06 18:30] #298 closed

[2020-07-06 23:07] joshuap commented on #282
This is done, although the new action is not running dialyzer. We can add that if it's necessary (I looked into it briefly and couldn't figure out how to do it properly w/ GH Actions).

[2020-07-06 23:07] #282 closed

[2020-07-10 18:36] joshuap opened #301 "Is this documentation outdated?"
The README and code docs for `Honeybadger.notify` say to pass the context as the second argument:

https://github.com/honeybadger-io/honeybadger-elixir/blob/d051f0754dd44e13c9cc7c989d7fdfc5cb068f82/lib/honeybadger.ex#L44

...but it looks like the second argument is actually metadata, which expects a `context` key:

https://github.com/honeybadger-io/honeybadger-elixir/blob/c2dc31100fb764ad4b0c4df6b

[2020-07-13 14:56] sorentwo commented on #301
@joshuap The second argument is the metadata and not the context. To pass in context you need the `%{context: context}` map.

[2020-07-13 15:56] rabidpraxis commented on #301
@joshuap `Notice.new` expects a map with `:context`, but it looks like `Honeybadger.notify` will jam any metadata it does not recognize into a context key:

https://github.com/honeybadger-io/honeybadger-elixir/blob/24edb30cb2a2c9462bdc453c9943fa64ef9bac00/lib/honeybadger.ex#L253-L257

https://github.com/honeybadger-io/honeybadger-elixir/blob/24edb30cb2a2c9462bdc453c9943fa64ef9bac00/lib/honeybadger

[2020-08-17 16:39] kennethito opened #308 "Is there a way to ignore an entire exception?"
I see that you can filter out parts of an exception, but I was wondering if there was a way to selectively ignore and not notify an entire exception.

Use case.  The version of cowboy we are on generates an exception for certain characters in urls via `:cow_uri.urldecode/2
`. We've had millions of these in the last week due to people probing our site and blew through our honeybadger plan.  I'm loo

[2020-08-17 18:19] joshuap commented on #308
@kennethito you can ignore the error in the Honeybadger UI and we'll stop alerting you about it, but I don't think we have a way to completely ignore the error in the client, which would be better (since then it wouldn't be sent to our servers at all). @sorentwo we don't currently have a solution for this that I am missing, do we?

[2020-08-17 18:22] joshuap commented on #301
@rabidpraxis oh OK, so our docs are actually valid? Is there a method you prefer?

[2020-08-17 19:45] kennethito commented on #308
Gotcha.

@joshuap Ignoring the error in the Honeybadger UI doesn't prevent the error from consuming you're quota correct?

[2020-08-17 20:31] sorentwo commented on #308
No, there isn't any way to declare that certain exceptions should be ignored on the client side currently.

[2020-08-19 17:13] rabidpraxis commented on #301
I'm not sure. I probably swing towards favoring the explicit version, just for readability sake.

[2020-08-26 17:06] joshuap commented on #308
Correct, they do not consume quota!

In any case, I think this is a feature we want to eventually add, so I'll leave this open to track it.

[2020-09-19 18:17] odarriba opened #312 "Group LiveView exceptions by module"
Hello,

I'm currently testing Phoenix LiveView as a solution for an application that will run on production environments, and I would like to have some security regarding the error reporting using Honeybadger.

Almost everything is great: stacktrace of the error, breadcrumbs, process state reporting, etc.

But I miss some feature that Honeybadger has when controlling exceptions via Plug, and is gr

[2020-09-21 16:37] joshuap commented on #312
@odarriba I think what you want is to be able to override the "component" (also sometimes called "controller") via `Honeybadger.notify/2` and/or `Honeybadger.context/1`. I'm looking and there is not a way to do this via context, but I think this would work:

[code]

Is that an option, or do you need to be able to set a custom component for the automatic logging integration?

[2020-09-21 17:14] odarriba commented on #312
What we want to do is to be able to recognise which module has generated the issue. In the case of controllers it can be easily fetch from plug, But i don´t really know if there is a way to implement that in LiveView, as the socket process runs independently to Plug or `conn`.

My idea was having the ability to set a key in the Honeybadge context to be able to change that groupin" made on the UI b

[2020-09-24 11:32] brunozrk opened #314 "Next release v0.14.2"
Is something missing to publish the new release with Fingerprint option?

[2020-09-24 18:20] joshuap commented on #314
Hi @brunozrk, I've released the changes in 0.15.0. Awesome PR, thank you for contributing!

Changelog:
https://github.com/honeybadger-io/honeybadger-elixir/blob/master/CHANGELOG.md

[2020-09-24 18:20] #314 closed

[2020-10-09 18:51] mmmries opened #318 "Dialyzer errors in 0.15.0"
After upgrading my project to use honeybadger 0.15.0 I started getting some dialyzer errors. I tried cloning the master branch of this project and ran dialyzer with erlang 22.3.2 and elixir 1.10.2.

Here is the output I got:

[code]

[2020-10-18 13:48] #318 closed

[2020-10-18 13:48] sorentwo commented on #318
@mmmries Thanks for reporting the regression. All fixed up 👍

[2020-12-15 18:12] rabidpraxis opened #330 "Backtrace app recognition issues"
We had a user whose notice was marking dependency backtrace lines as application backtraces. The Honeybadger web interface was attempting to build links to GitHub for his project, and it was obviously not working.

It would be good to double-check that any elixir updates have not introduced any regressions in this area, or perhaps expand test coverage to make sure the app is being recognized corre

[2021-02-11 17:27] rabidpraxis commented on #242
Based on my digging, because the Logger and Plug process are unaware of each other (it's erlang), we don't have a great way to know if an error has been notified, so as to halt sending one of the notices.

It would be preferable to have the Plug take precedence over the Logger if they are both enabled, as the Plug notifier injects helpful metadata for debugging. I have seen other projects that loo

[2021-02-11 22:54] messutied commented on #242
After looking at `Honeybadger.Plug` and `Plug.ErrorHandler` not sure how what you suggest could work, since in `Plug.ErrorHandler` what's happening is a re-raising of the exception, no `Logger` being used to log it (as far as I understand).

I found this issue interesting https://github.com/elixir-plug/plug/issues/444, since it's from 2016 perhaps Rollbax already found a workaround?

And finally I

[2021-02-11 23:17] rabidpraxis commented on #242
Hello again Eduardo, I appreciate you spending time looking into this!

We call `notify` in the plug:

https://github.com/honeybadger-io/honeybadger-elixir/blob/634c68e783576acb80eeb327a0caee2618340f08/lib/honeybadger/plug.ex#L63-L67

And in the Logger backend:

https://github.com/honeybadger-io/honeybadger-elixir/blob/634c68e783576acb80eeb327a0caee2618340f08/lib/honeybadger/logger.ex#L29-L47

The

[2021-02-13 00:41] messutied commented on #242
Hi @rabidpraxis, I understand the idea, I just don't see how to communicate from the Plug to the Logger backend, you mentioned overriding the `call` function before, I suppose you mean overriding `Plug.ErrorHandler.call/2` in `Honeybadger.Plug`? I don't think that's possible :(

[2021-02-13 04:40] rabidpraxis commented on #242
@messutied The hope was to add another plug, something similar to the internals of `Plug.ErrorHandler`:

https://github.com/elixir-plug/plug/blob/692655393a090fbae544f5cd10255d4d600e7bb0/lib/plug/error_handler.ex#L59-L83

I attempted to do that, and while the plug worked, my updates to the logger metadata did not propagate to the duplicated errors. My assumption is that those errors are coming fro

[2021-02-16 03:35] sezaru opened #335 "Phoenix.Router.NoRouteError being reported"
Hello,

For some reason, HoneyBadger is sending `Phoenix.Router.NoRouteError` errors even when I inserted my `use Honeybadger.Plug` after the `use CoreWeb, :router` call.

Phoenix version: 1.5.3
Honeybadger version: 0.15

Here is a screenshot of the error in the HoneyBadger dashboard:

![image](https://user-images.githubusercontent.com/279828/108015360-df0cf500-6fee-11eb-8cf4-441301c3c42b.png)

Fe

[2021-02-16 03:39] sezaru commented on #335
Oh, I just noticed that it seems that HoneyBadger is also accumulating a lot of different errors with that one for some reason:

![image](https://user-images.githubusercontent.com/279828/108015536-37dc8d80-6fef-11eb-8535-542242e5ce01.png)

Seems like that because of that `ErlangError` title, HoneyBadger is thinking every error with this same title is the same error.. If this is another issue let m

[2021-02-19 13:38] sezaru opened #336 "Errors shown as ErlangError instead of the specific error"
I don't know if this is expected since it is the first time I used Honeybadger, but most of the errors I'm receiving are encapsulated inside `ErlangErrors`. For example this one:

![image](https://user-images.githubusercontent.com/279828/108510732-a3e41d80-729d-11eb-8cd5-23262e02513a.png)

As you can see, two of the errors are actually `Postgrex.Error` errors but they are encapsulated inside an `E

[2021-02-19 13:39] sezaru commented on #308
Is this still a wanted feature? If I create a PR to support filtering out exceptions would it be considered to be merged?

[2021-02-19 18:59] joshuap commented on #308
@sezaru yeah, I would like this feature. What kind of configuration API are you thinking? @sorentwo, do you have any thoughts on the best approach?

Here's how we do this in Ruby and JavaScript:

https://docs.honeybadger.io/lib/ruby/getting-started/ignoring-errors.html
https://docs.honeybadger.io/lib/javascript/guides/reducing-noise.html

[2021-02-19 19:05] joshuap commented on #336
I'm not sure about this one. @sorentwo @rabidpraxis does this look familiar?

[2021-02-19 19:21] sezaru commented on #308
I was thinking about a very simple behaviour with a single `filter/1` function that receives the `Notify` struct and the user can define its own logic to when and how he wants to filter the exception.

Thanks for the links, I just took a fast look at it and it seems that they allow more complex filter cases like by exception type, etc.

For my use case, only the behaviour described above is enough

[2021-02-19 20:40] joshuap commented on #308
Oh yeah, our Elixir docs are lacking on this atm—I'm making a note about that. In the meantime, [here's our Ruby guide](https://docs.honeybadger.io/lib/ruby/getting-started/customizing-error-grouping.html) on how we group errors (which is the same for Elixir by default). We support [a number of custom fingerprint options](https://github.com/honeybadger-io/honeybadger-elixir/search?q=fingerprint) i

[2021-02-19 20:43] joshuap opened #338 "Document error grouping and fingerprint options"
The docs (in [README.MD](./README.MD) are lacking information about error grouping, and how to use the `fingerprint` option/`FingerprintAdapter`. Could we add a section and/or flesh out the API docs on that?

Related:

https://github.com/honeybadger-io/honeybadger-elixir/issues/308#issuecomment-782332124
https://docs.honeybadger.io/lib/ruby/getting-started/customizing-error-grouping.html

[2021-02-22 17:49] #242 closed

[2021-02-22 18:24] messutied commented on #242
Amazing! thanks for the effort @rabidpraxis, any idea when will this make it to the hex package?

[2021-02-22 20:12] rabidpraxis commented on #242
Hey @messutied I just pushed `0.16.0` to hex. Give it a go!!

[2021-02-24 17:26] sorentwo commented on #336
@joshuap This is extremely common. Erlang errors are wrapped by Elixir and will all look like the same error. Some other fingerprinting is necessary to properly differentiate between them.

Having the Postgrex errors wrapped in an ErlangError is strange, though. That may be due to the `handle_sasl_reports: true` option, as I haven't encountered that particular issue (and dscout has **many** mis-gr

[2021-02-24 17:41] joshuap commented on #336
Makes sense, thanks! Is the fingerprinting something we could think about handling on our end, or is that unique to each user and better handled via config? (Maybe related: #338)

[2021-02-24 18:56] sorentwo commented on #336
The `ErlangError` grouping is extremely common and something I'd expect to see handled by the server or library, not something that users should need to do themselves.

[2021-02-24 21:58] joshuap commented on #336
Ok, great. I'll keep this open as an enhancement issue... we'll see if we can find someone to work on that at some point.

[2021-02-24 22:03] sezaru commented on #336
I disabled `handle_sasl_reports` to see if it improve the situation, now I just need to wait for some errors to pop-up and I will update here my findings.

[2021-02-24 23:42] sezaru commented on #336
At first glance it seems to be working fine now with sasl turned off:
![image](https://user-images.githubusercontent.com/279828/109081220-b2d53080-76e0-11eb-9889-7b0e8934b614.png)

Now maybe the question is why it encapsulates the error into an `ErlangError` if sasl is on.

[2021-02-25 20:52] abstractcoder opened #341 "README incorrect regarding default environment_name"
The README mentions that environment_name will default to Mix.env(), but it will always defaults to :prod if it is not set. The reason why is alluded to in the CHANGELOG for version 0.4.0 (Mix.env() always defaults to :prod for dependencies).

[2021-03-26 03:27] mbklein opened #350 "Custom filter_cgi_data/1 never called"
I've been trying to write a custom filter to handle `cgi_data` a little differently than the default, and I noticed that my overridden `filter_cgi_data/1` was not being called. After a little poking around, I found that as of #105, the configured filter is [skipped for `cgi_data` in the default `NoticeFilter`](https://github.com/honeybadger-io/honeybadger-elixir/blob/v0.16.0/lib/honeybadger/notice

[2021-03-26 15:17] joshuap commented on #350
Thanks @mbklein, we'll take a look.

cc @sorentwo

[2021-03-26 22:46] jborichevskiy opened #352 "Rate limited response error causes infinite loop"
I am seeing an infinite notification loop happen when hitting any exception reported by Honeybadger while having exceeded our account rate limit.

Upon reporting, the first response is `[warn] [Honeybadger] API failure: "{\"error\":\"Rate Limit Exceeded\"}`. It looks like this failure is then being caught at `client.ex:162`, but then `Logger.error` is called - sending this new notification and con

[2021-03-29 18:56] joshuap commented on #352
@jborichevskiy sorry for the trouble, and thanks for the offer to help! Email support@honeybadger.io if you need us to temporarily increase your monthly error quota as a result of this.

@sorentwo what solution do you like best?

[2021-03-29 18:59] sorentwo commented on #352
@joshuap I think we should use `Logger.warn` for this in the immediate term.

[2021-03-29 19:01] joshuap commented on #352
Sounds good, thanks! @jborichevskiy would you like to submit that PR?

[2021-03-29 20:09] jborichevskiy commented on #352
Sure thing - will do in a few!

[2021-03-29 23:09] jborichevskiy commented on #352
@joshuap I made an oops - it is _already_ `Logger.warn`; I must've lost track of my local changes when submitting the issue; sorry for the confusion.

`Logger.info` also seems to be triggering the loop. I'll dig around some more and follow up!

[2021-04-01 21:53] alanmf commented on #350
Any idea on a timeline for this? I'm having this issue with filter_cgi_data as well

[2021-04-02 22:46] joshuap commented on #350
I tried fixing this in #353. I don't have an ETA on a release yet, but hopefully not very long.

[2021-04-08 05:55] henrik opened #356 ""FunctionClauseError: no function clause matching in Jason.Encode.list_loop/3" from HB reporting"
I saw this error logged here: https://app.honeybadger.io/projects/72231/faults/78372903

The backtrace makes me think our app had a DB connection error but Honeybadger's reporting encountered an error trying to show that error, and reported its own error instead.

Message:

[code]

Backtrace:

[code]

[2021-04-09 15:39] sorentwo commented on #356
Strange. All of the notice output is escaped or inspected to guard against encoding issues: https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/json.ex

I've seen plenty of `DBConnection.ConnectionError` errors reported before. Is this a one off for you?

[2021-04-09 16:35] henrik commented on #356
Thank you. No, afraid not. Has happened 16 times so far.

[2021-04-09 16:42] henrik commented on #356
We get some "DBConnection.ConnectionError" as well. Most recently 9 days ago.

The project we get these errors in is open source, by the way: https://github.com/barsoom/ex-remit It's currently using 0.16.0 of the Honeybadger hex package (= latest).

Looking back through instances of this error in HB, some are not DBConnection.ConnectionErrors, like this one:

[code]

[2021-04-09 22:25] sorentwo commented on #356
After updating the oban pro site to v0.16 I'm also seeing the same error. It's definitely a change in the past couple of versions. I'll bisect and find it next week.

[2021-04-12 17:26] joshuap commented on #350
The fix for this has been released in 0.16.1

[2021-04-12 17:27] #350 closed

[2021-04-15 16:09] zmagajna commented on #352
Hi, any update on that? Having the same issue with this.

[2021-04-15 17:59] bayprogrammer commented on #356
For what it's worth, we discovered that an improper list was making its way to Jason causing it to croak. When the improper list is looped over then `Jason.Encode.list_loop/3` is (attempted to be?) called like this:

[code]

And there is no implementation for `list_loop/3` which accepts a binary as the first parameter (leading to the errors we've seen).

I haven't been able to determine how that i

[2021-04-15 20:06] sorentwo commented on #356
This is very helpful, thank you for the thorough report. This started happening in the past few versions. I'm confident that with a test that replicates the improper list error I can bisect and nail it down.

[2021-04-16 09:42] rktjmp commented on #336
I am having the same (similar?) error

[code]
![image](https://user-images.githubusercontent.com/866010/115002238-d8fc9d00-9ee7-11eb-8b3f-2362bf3e310a.png)

Unless I misunderstand the documentation this is the expected result.

The pattern match here:

https://github.com/honeybadger-io/honeybadger-elixir/blob/c876c08c3d32675031c961183740e5146380b969/lib/honeybadger/notice.ex#L54

doesn't actually

[2021-04-23 14:54] jborichevskiy commented on #352
Apologies - been sidetracked with some other work. Haven't figured out a fix here yet but will update when I do.

[2021-04-26 23:42] #356 closed

[2021-04-27 00:00] joshuap opened #362 "Test failures related to cowboy in local dev environment (M1 mac)"
Trying to release #361, but getting local test failures. Does anyone recognize this? It seems to be mostly the following error:

[code]

Full output:

[code]

[2021-04-27 15:30] sorentwo commented on #362
@joshuap That's new on me. Can you try deleting your `_build` directory and possibly your `deps` and rebuilding?

[2021-04-27 17:49] joshuap commented on #362
Ahah, that did it. I also had to remove `dummy/mixapp/_build`. I bet it had something to do with copying files from my old mac to the new one. Thanks!

[2021-04-27 17:49] #362 closed

[2021-04-29 17:31] henrik commented on #356
🥳

[2021-06-18 16:26] joshuap commented on #352
We had another user report something similar—they received thousands of "Honeybadger rate limit exceeded" errors.

I'm looking to get this wrapped up in a few weeks. If someone is interested in taking it, just let me know (I am happy to get you set up in our [open-source team](https://www.notion.so/honeybadger/Open-Source-Team-445fb647601d46c49a9cbe9d621eb830) so that you have commit access and ge

[2021-06-18 20:18] joshuap commented on #352
From @rabidpraxis:

[2021-06-21 23:15] joshuap opened #368 "Can't get filter_args: false to work"
I've been trying to test out the feature where method arguments are included in the stack trace (see [`filter_args` config option](https://github.com/honeybadger-io/honeybadger-elixir#advanced-configuration)), but can't make it work. What am I doing wrong?

## Steps to Reproduce

1. Bootstrap a new Phoenix app
[code]

2. Install honeybadger package
[code]

3. Configure `honeybadger` in `config/con

[2021-06-23 12:06] AdamT commented on #341
Just discovered this as well. One must specify `environment_name: Mix.env()` for `exclude_envs` to not raise errors in `:dev`/`:test`

[2021-07-03 20:04] sezaru opened #371 "Honeybadger.Backtrace.format_line fails to format error"
The error occurs when I try to fetch a value from a map using `Map.fetch!`, this will result in the following error:
[code]

[2021-07-05 17:50] joshuap commented on #371
This looks like the same error as #369—the fix is currently on master and will be released today or tomorrow. I'll update this issue when it's out!

[2021-07-05 21:30] #352 closed

[2021-07-05 21:38] joshuap commented on #371
This should be fixed in 0.16.3. Give it a try and let me know if you continue to have issues. Thanks for reporting. 🏆

[2021-07-05 21:43] #371 closed

[2021-07-06 21:09] TraceyOnim commented on #368
@joshuap I have debugged the issue, here is the stack trace that I'm receiving from my phoenix app , which I'm suspecting is the same stack trace that honey badger might be receiving from your end.
[code]
In this case , the `args` is received as an integer which represents the arity of the function.
The `format_args/2` which takes in the `arg` and `filter_args` will always match line [backtrace.ex

[2021-07-07 19:14] joshuap commented on #368
@TraceyOnim ah, I forgot that there are some known cases where the full arguments are not available. Here is some relevant info:

https://github.com/honeybadger-io/honeybadger-elixir/pull/115#issuecomment-350154494
https://github.com/honeybadger-io/honeybadger-elixir/issues/123

I'm going to close this for now, since I now understand why the args aren't being reported in every case. I'll continue

[2021-07-07 19:16] #368 closed

[2021-07-09 21:27] TraceyOnim commented on #123
I have found out, arguments are available when a FunctionClauseError is reported. Here is the [explanation](https://stackoverflow.com/questions/65406610/include-function-arguments-in-stack-trace-when-raising-error).

With that, I have also found out that, the stack trace is been parsed at this [line](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger/notice.ex#L57). H

[2021-07-12 20:38] joshuap commented on #123
@TraceyOnim nice!

So with #373 merged, what should the documentation say about `filter_args`? It still only works for `FunctionClauseError`, right? If that's the case, we should update the README with that information to make it clear how it works. Do you want to work on that?

Also, I added a changelog entry for #373: https://github.com/honeybadger-io/honeybadger-elixir/commit/44c15cf88a153cf45e

[2021-07-12 20:40] joshuap commented on #123
Another question: do you think it's possible to display args for other types of exceptions with some additional research/work in the future? Or should  I close this issue after the documentation is updated?

[2021-07-12 20:53] TraceyOnim commented on #123
From the research, I can say filter_args only works with FunctionClauseError.
Yes , I can work on the documentation

I have checked the changelog https://github.com/honeybadger-io/honeybadger-elixir/commit/44c15cf88a153cf45e12b9e341cf13febe7905fe. Arguments are shown when `filter_args` is set to false, right? The changelog states true

[2021-07-12 20:53] joshuap commented on #123
Ah yeah, good catch! I'll fix it.

[2021-07-12 20:57] TraceyOnim commented on #123
Lemme do some additional research on this first before closing. Just in case I might miss something

[2021-07-12 21:01] joshuap commented on #123
@sorentwo I've been thinking, would it make sense to default to `filter_args = false` in the next major release, so that args are reported w/ `FunctionClauseError` by default?

[2021-07-12 21:05] TraceyOnim commented on #123
Great idea, I second this

[2021-07-12 21:05] sorentwo commented on #123
@joshuap That would improve the experience for most people and isn't a breaking change. I'm in favor 👍

[2021-07-12 21:11] joshuap commented on #123
@TraceyOnim great, want to submit a PR for that? If the two of you are good with a minor release instead of major (since it's not breaking), I'm good with that.

[2021-07-12 21:18] TraceyOnim commented on #123
Sure, I can submit the PR

[2021-07-13 16:09] joshuap commented on #123
Confirmed that args are reported properly for `FunctionClauseError` in v0.16.4!

<img width="351" alt="image" src="https://user-images.githubusercontent.com/474649/125486715-de4b7d42-fe15-4800-b674-4ee39b08d7cf.png">

For future reference, [here's a simple way to cause a `FunctionClauseError`](https://github.com/elixir-lang/elixir/blob/4fd11e0c62da74f3cb4a7df325863c495dfe6ba4/lib/elixir/test/elixi

[2021-07-15 22:39] TraceyOnim commented on #338
@joshuap The API docs have a clear explanation of error grouping. Will it be okay if we add the API doc link in README.md ? Check out the [PR](https://github.com/honeybadger-io/honeybadger-elixir/pull/376/files) I have added

[2021-07-21 17:54] yukster commented on #276
Hey, just commenting here instead of #315 because this one is still open. I question whether this was a sensible choice. I work on several large and long-running Elixir apps and was surprised to see my HB errors go through the roof after updating a bunch of deps, including the HB client.

I'm going to unhook it from the logger by setting `use_logger` to false (and hoping that will *only* turn off

[2021-07-21 18:19] #338 closed

[2021-07-21 18:37] yukster commented on #276
@joshuap thanks for the fast response! I have to say, I'm a bit confused by the SASL logging docs, especially because it says that SASL logger was deprecated in OTP 21 (I think we're on 23 across the board). Well, I'm going to test this throughly to make sure crashes still go to HB.

[2021-07-21 20:16] yukster commented on #276
So I confirmed that I will only get notifications from the plug integration with `use_logger: false`... so no error-reporting for GenServers and the like. I think I'm just going to roll back to 0.15.0 for now. And I would love to see a config for logging errors. Maybe I can whip up a PR for it.

[2021-07-21 22:01] TraceyOnim commented on #335
@sezaru I have tried reproducing the error with the phoenix and honeybadger version specified. Still, I'm unable to get the bug you are facing. Kindly confirm with me the Elixir and Erlang versions that you are using.

@joshuap , I have seen that there was a fix for this bug that was released in version 0.11, any ideas on how this might be recurring?

[2021-07-22 19:48] joshuap commented on #335
I'm not sure to be honest, but @sorentwo might have input. This issue does look similar to this old one: https://github.com/honeybadger-io/honeybadger-elixir/issues/130

[2021-07-22 20:26] sorentwo commented on #335
Something in those error messages looks wrong. They're all generic erlang errors stacked three levels deep like they are wrapped. I wouldn't expect the default filter to match on those based on how they're structured, but I admit that I don't know why they're formatted that way.

[2021-07-23 07:58] TraceyOnim commented on #335
The problem is that on my end everything seems to be working fine, it could be at least easier if we could reproduce the same error.

I think the formatting was also handled if I'm not wrong .

[2021-07-23 16:16] TraceyOnim commented on #276
@joshuap , how do you mean by two config options?
What about using 'ignored_domains` option() . In such cases error for that domain won't be sent to HB
I have  tried ignoring `[:elixir]` domain in my pet project:
[code]
with this option error logs from GenServer is  sent to HB:
[code]
Kindly confirm my assumption if its true, does all SASL crashes fall under `[:sasl]` or `[:otp]` domain? If yes th

[2021-07-26 15:47] yukster commented on #276
@joshuap how about this?: https://github.com/honeybadger-io/honeybadger-elixir/pull/380

[2021-07-26 17:04] joshuap commented on #276
I'm not sure about the answer to that question. Might be a good question for the Elixir forums or Slack channel. If yes, I agree that ignoring the domain could be a good option, although I'm also not against adding an explicit configuration option to disable reporting `Logger.error`, as in #380.

[2021-07-26 17:39] joshuap commented on #335
Thanks, everyone. Let's keep this open a while longer to see if anyone can provide additional data to reproduce. I'm fine with closing it in a few weeks, otherwise.

[2021-07-27 21:02] TraceyOnim commented on #276
I've posted the question on Elixir Forum, I'll follow up with it for responses

[2021-07-28 22:46] TraceyOnim commented on #312
@sorentwo and @joshuap , I can see that HB  shows the liveview module an exception is from or  am I missing the main point from this issue? is there any follow up done on this?

[2021-07-30 08:06] AdamT opened #381 "callback_spec_arg_type_mismatch for Honeybadger.Plug in router"
I just upgraded to plug 1.12.0 and dialyzer is getting this error from Honeybadger.Plug. I have cleaned the project and removed the _build directory.

[code]

[2021-07-30 22:20] TraceyOnim commented on #381
@sorentwo I could use your help here, the spec for `handle_errors/2` is kinda conflicting.
For dialyzer to pass successfully in this case, the spec for `handle_errors/2` needs to be defined as follows
[code]
this is how its also defined in the docs
The conflicting part is that this `handle_errors(Plug.Conn.t(), %{kind: atom(), reason: any(), stack: any()}) :: :ok` is the actual  data that is been

[2021-08-02 16:29] sorentwo commented on #381
@TraceyOnim The docs, and the callback, still look the way we have them defined: https://hexdocs.pm/plug/1.12.1/Plug.ErrorHandler.html#c:handle_errors/2. Regardless, the return value for our spec is wrong (`:ok` rather than `no_return()`).

I think the proper fix here is to replace the `@spec` with `@impl Plug.ErrorHandler`, like this:

[code]

[2021-08-02 19:02] sorentwo commented on #312
Would a fingerprint override work for this?

[2021-08-03 11:21] TraceyOnim commented on #381
Great fix, I can open a PR for this

[2021-08-09 18:36] joshuap commented on #381
@TraceyOnim is this done and just needs to be released? If so, I can cut a release. I think the [changelog](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/CHANGELOG.md) needs to be updaed.

[2021-08-09 20:58] #381 closed

[2021-08-10 00:28] joshuap commented on #312
Perhaps? 🤔 If someone wants to customize grouping using data in the context, they could create a custom fingerprint adapter:

https://github.com/honeybadger-io/honeybadger-elixir#customizing-error-grouping

I'm not sure tbh. The new custom fingerprint support should allow people a lot of flexibility for grouping, so I think if there is a question here, it's about what we should be doing by default

[2021-08-16 16:37] #341 closed

[2021-10-05 09:30] mfilej opened #401 "Our logs are filling up with Honeybadger "Quota exceeded" messages"
It seems that we went over quota over night and now our logs are filling up with Quota exceeded errors on all the servers, even those that are not trying to report an error.

[code]

So I have two questions: 1) is there a reason the client would try to connect to the API unless there was an error to be reported? 2) do these need to be reported so often?

[2021-10-05 16:56] joshuap commented on #401
Hi @mfilej, what version of the honeybadger hex package are you using? As of 0.16.3, we [fixed an issue with logging](https://github.com/honeybadger-io/honeybadger-elixir/blob/master/CHANGELOG.md#v0163---2021-07-05) which could be causing this. If you're on an older version, can you try upgrading to the latest — 0.18.0?

[2021-10-06 08:59] mfilej commented on #401
@joshuap Turns out we are on 0.16.2. Will do that, thank you!

[2021-10-12 15:11] #401 closed

[2021-10-25 15:55] yukster opened #405 "Honerbadger Elixir client violates spec on Plug handle_errors"
I tried to update my app to the latest version of Plug (1.12.1) and found that the inclusion of `use Honeybadger.Plug` in my router.ex was now reported as a dialyzer error. It pointed out that `Plug.ErrorHandler.handle_errors/2` was attempting to return `:ok` where `no_return()` is expected. I believe this is due to this update in Plug:

https://github.com/elixir-plug/plug/commit/a209416bf5f2ea160

[2021-10-28 20:10] #405 closed, assigned to nobody

[2021-11-30 19:05] #233 closed

[2021-12-15 17:21] stympy opened #408 "The user agent should include the package version"

[2022-02-03 13:48] tres opened #415 "Honeybadger.Backtrace.format_line Pattern Matching Breaks With Newer Versions of OTP"
Hey my Honeybadger Homies!

Long time listener, first time caller.

So I upgraded one of my projects to 1.13.2 & OTP 24 yesterday & now I'm seeing some unhappiness from Honeybadger when it tries to parse the Elixir stacktrace.

Looks like there was some new meta info added to the stacktrace here: https://github.com/elixir-lang/elixir/pull/10977/files#diff-43a76a6112c9082ee3ddb63acc2419db8764edd039

[2022-02-03 14:16] tres commented on #415
derp....

looks like this is actually already fixed here https://github.com/honeybadger-io/honeybadger-elixir/pull/369

It would seem that I'm locked on a previous version & need to update.

apologies for the noise!

[2022-02-03 14:16] #415 closed

[2022-05-16 14:21] eddy147 opened #436 "How to disable in test mode?"
While running the test, I get many errors that the api_key is invalid:

[code]

I have tried the following config to disable honeybadger in test mode:

[config/test.exs]
[code]
But keep having the errors.

What is the proper way of disabling Honeybadger in test mode?

[2022-05-16 22:53] joshuap commented on #436
I believe setting `environment_name` to "test" should do it (see [here](https://docs.honeybadger.io/lib/elixir/#configuration)).

[2022-05-17 06:35] eddy147 commented on #436
Unfortunately that didn't work.

I have the following in
[config/config.exs]
[code]
[config/test.exs]
config :honeybadger,
  environment_name: :test,
  api_key: "sup3rs3cr3tk3y"
[code]

[2022-05-19 20:29] joshuap commented on #436
@rabidpraxis do you have any idea what's going on here?

[2022-05-19 22:15] rabidpraxis commented on #436
That config should be working properly.

@eddy147 are you sure that `config/test.exs` is being loaded? Is your root config importing the environmental version (https://hexdocs.pm/elixir/1.12/Config.html)? If so, could you share more information about what versions you are running?

[2022-05-20 09:34] eddy147 commented on #436
Hi @rabidpraxis
yes 100% sure, it's an elixir application, running for years, not a phoenix application.

versions:
elixir 1.10.4-otp-23
erlang 23.1
from mix.lock:
"honeybadger": {:hex, :honeybadger, "0.13.1", "30078a768ffe8fa9a243f7f20b088ebae29fd586641497958bee932b313cc05f", [:mix], [{:ecto, ">= 2.0.0", [hex: :ecto, repo: "hexpm", optional: true]}, {:hackney, "~> 1.1", [hex: :hackney, repo: "hex

[2022-05-23 14:02] rabidpraxis commented on #436
Hey @eddy147, I attempted to reproduce your issue (by building a simple test project) with the versions you specified, but I cannot get it to send a notice in test mode.

My guess is that when honeybadger starts up, Mix is reporting as being in prod mode for some reason (here https://github.com/honeybadger-io/honeybadger-elixir/blob/master/lib/honeybadger.ex#L192). I'm afraid I am at a loss as to

[2022-05-24 08:07] eddy147 commented on #436
Hi @rabidpraxis thanks for your efforts. Our application is quite big and complex, so it possible something does not go right in there.
I will create a mock module for honeybadger that we can use in test mode.
Thanks again for your effort.

[2022-10-27 18:53] #335 closed

[2022-10-31 17:00] joshuap commented on #408
Hi @TraceyOnim, the user agent is here:

https://github.com/honeybadger-io/honeybadger-elixir/blob/bff1531643003a03c68b7f8d083e9a1a2f3fe434/lib/honeybadger/client.ex#L11

That string is used as the `User-Agent` header when making requests to our API. What we want is to include the package version info, so our API knows where version of the package is making each request. It should look the same as

[2022-11-01 12:57] TraceyOnim commented on #408
Thank you @joshuap for the clarification.